{% extends 'base.html' %}

{% block content %}
     {% if messages %}
         {% for message in messages %}
            <div class="alert
                {% if message.tags == 'error' %}
                alert-danger
                {% elif message.tags == 'warning' %}
                alert-warning
                {% elif message.tags == 'info' %}
                alert-info
                {% elif message.tags == 'success' %}
                alert-success
                {% endif %} alert-dismissible fade show" role="alert">
              <strong>{{ message.tags|title }}  </strong>   {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
         {% endfor %}
    {% endif %}

    {% load static %}
     <div class="sidebar-page">
        <input type="checkbox" id="responsive-nav">
        <label for="responsive-nav">☰</label>
        {% block aside %}
        <aside>
          <div class="logo-area">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="logo"></a>
          </div>
          <nav>
              {% with url_name=request.resolver_match.url_name %}
                  {% if user.is_superuser %}
                    <a class="listing {% if url_name == 'user-list' %} active {% endif %}"
                       href="{% url 'user-list' %}"><i class="fas fa-user-friends"></i> Registered Users</a>
                    <a class="listing {% if url_name == 'campaign-list' %} active {% endif %}"
                       href="{% url 'campaign-list' %}"><i class="fas fa-tv"></i> Campaign</a>
                    <a class="listing {% if url_name == 'plan-list' %} active {% endif %}"
                       href="{% url 'plan-list' %}"><i class="fas fa-columns"></i> Plans</a>
                  {% else %}
                    <a class="listing {% if url_name == 'adverts_list' %} active {% endif %}"
                       href="{% url 'adverts_list' %}"><i class="fas fa-list-ul"></i> Ad Listing</a>
                  {% endif %}
              {% endwith %}
            <!-- <div class="nav-collapsible">
              <input type="checkbox" id="nav-collapsible-1">
              <label for="nav-collapsible-1">Portfolio</label>
              <div class="wrap">
                <a href="#">Art</a>
                <a href="#">Design</a>
                <a href="#">Print</a>
                <a href="#">Web</a>
              </div>
            </div>
            <div class="nav-collapsible">
              <input type="checkbox" id="nav-collapsible-2">
              <label for="nav-collapsible-2">Blog</label>
              <div class="wrap">
                <a href="#">Art</a>
                <a href="#">Design</a>
                <a href="#">Print</a>
                <a href="#">Web</a>
              </div>
            </div> -->
            <a class="logout" href="{% if user.is_staff %} {% url 'admin_logout' %} {% else %} {% url 'logout' %} {% endif %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </nav>
        </aside>
        {% endblock %}
        <div class="main">
            {% block maintopbar %}
                <div class="maintopbar">
                    <div class="profileinfo">
                        <span class="name">{{user.first_name}}</span>
                        <span class="email"><a href="#">{{user.email}}</a></span>
                    </div>
                    <div class="profilediv">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                                <img class="profile-pic" src="{% if user.get_avatar %} {{user.get_avatar}} {% else %} {% static 'images/profilepic.png' %} {% endif %}" alt="Profile"></a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                  </div>
            {% endblock %}
            {% block maincontent %}
                <!-- To be filled y child template as per content-->
            {% endblock %}
        </div>
     </div>
{% endblock %}