{% extends 'base.html' %}

{%block title %} Doohma | Admin Login {% endblock title %}

{% block body-css %}admin adminloginpage {% endblock %}

{% block content %}
    {% load static %}
    <div class="flexbox-container">
      <div class="flexbox-item">
        <div class="adminlogin">
          <div class="sitelogo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
            <p>Welcome, Please signup to get started.</p>
          </div>
          <form class="row" role="form" action="{% url 'signup' %}"  method="post">
            <!-- Non field form errors -->
            {% if form.non_field_errors %}
              <ul>
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <span class="alert-inner--text">{{error}}</span>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                {% endfor %}
              </ul>
            {% endif %}
             {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
             {% endfor %}
            <!--Non field form errors end-->
            {% csrf_token %}
            <div class="col-md-12">
              <div class="md-form mb-3">
                <label data-error="wrong" data-success="right" for="first_name">Email</label>
                <input type="email" name="first_name" id="first_name" class="form-control" placeholder="Enter your First name">
              </div>
              {% if form.first_name.errors %}
                <p>
                  {% for error in form.first_name.errors %}
                    <span class="btn-outline-danger">{{ error }}</span>
                  {% endfor %}
                </p>
                {% endif %}
            </div>
            <div class="col-md-12">
              <div class="md-form mb-3">
                <label data-error="wrong" data-success="right" for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
              </div>
              {% if form.email.errors %}
                  <p>
                  {% for error in form.email.errors %}
                    <span class="btn-outline-danger">{{ error }}</span>
                  {% endfor %}
                  </p>
                {% endif %}
            </div>
            <div class="col-md-12">
              <div class="md-form mb-3">
                <label data-error="wrong" data-success="right" for="password1">Password</label>
                <input type="password" id="password1" name="password1" class="form-control" placeholder="***">
              </div>
                {% if form.password1.errors %}
                  <p>
                  {% for error in form.password.errors %}
                    <span class="btn-outline-danger">{{ error }}</span>
                  {% endfor %}
                  </p>
                {% endif %}
            </div>
              <div class="col-md-12">
              <div class="md-form mb-3">
                <label data-error="wrong" data-success="right" for="password2">Confirm Password</label>
                <input type="password" id="password2" name="password2" class="form-control" placeholder="***">
              </div>
                {% if form.password2.errors %}
                  <p>
                  {% for error in form.password.errors %}
                    <span class="btn-outline-danger">{{ error }}</span>
                  {% endfor %}
                  </p>
                {% endif %}
            </div>
            <div class="col-md-12">
              <div class="poploginbtn">
              <button class="doohmabtn" type="submit" value="submit">Sign Up</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}
<!-- By pass all javascripts -->
{% load static %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-material-design.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/genrel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/filepond.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/filepond.min.js' %}"></script>
    <script>
        AOS.init();
    </script>
{% endblock %}