{% extends 'panel_base.html' %}

{% block body-css %} sidebar-page {% endblock %}

{% block maincontent %}
    {% load static %}
    <div class="maincontent">
        <h1>AD LISTING</h1>
        <div class="flexbox-container">
          <div class="flexbox-item">
            <div class="congcontentdiv">
                <img src="{% static  'images/congratulations-card.png' %}" alt="">
                <div class="congcontent fix">
                    <img  src="{% static 'images/plus-icon.png' %}" alt="add">
                    <span>Congratulations {{user.first_name}}</span>
                    <p>Your Account has been created Successfully, Now Please Create New Ad</p>
                    <a href="{% url 'ad-view' %}">
                    <button class="creatad"><img src="{% static 'images/plus-add.png' %}" alt="plus-icon">Create AD</button>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}