{% extends 'base_topbar.html' %}
{% block  topbar %}
    {% load static %}
    <div class="maintopbar" style="width: 100%;">
    <div class="logo-area">
       <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
    </div>
    <div class="profileinfo">
        <span class="name">{{user.first_name }}  {{ user.last_name }}</span>
        <span class="email"><a href="#">{{user.email}}</a></span>
    </div>
    <div class="profilediv">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
                <img class="profile-pic" src="{% static 'images/profilepic.png' %}" alt="Profile"></a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </li>
    </div>
  </div>
{% endblock %}
{% block container %}
    {% load static %}
    <div class="container">
    <div class="bussinessdiv">
        <div class="frame">
          <img src="{% static 'images/bussiness-frame.png' %}">
        </div>
        <div class="title">
          <h1>Welcome Onboard!</h1>
          <p>Tell us what best describes your current role?</p>
        </div>
        <form method="post" action="{% url 'business_listing' %}">
            {% csrf_token %}
        <div class="optiondiv">
          <ul>
            {% for item in business_list %}
                <li><label class="li-button" for="{{item.slug}}">{{item.title}}</label>
                    <input type="radio" id="{{item.slug}}" hidden name="title" value="{{item.slug}}" /></li>
            {% endfor %}
                <li><label id="other" class="li-button">Other</label>
          </ul>
        </div>
        <div class="other">
          <div class="col-md-12">
            <div class="md-form mb-4">
              <input type="text" name="custom_business" id="custom-business"  class="form-control custom-hidden" placeholder="Other">
            </div>
          </div>
        </div>
        <div class="finishbtn">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
          <input type="submit" value="Finish" class="doohmabtn" />
        </div>
        </form>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function(){
   $("#other").on("click", function (){
       $("#custom-business").toggleClass('custom-hidden');
       $("label.selected").siblings('input').prop("checked", false);
       $(".selected").removeClass('selected');
       $(this).toggleClass('selected');
   });
   $("input[type='radio']").on("click", function(){
    $(".selected").removeClass('selected');
    $(this).siblings("label").addClass("selected");
    $("#custom-business").addClass('custom-hidden');
   })
})
</script>
{% endblock %}