{% extends 'base.html' %}
{%block title %} Doohma | Password Reset {% endblock title %}

{% block body-css %}admin adminloginpage {% endblock %}

{% block content %}
    {% load static %}
    <div class="flexbox-container">
      <div class="flexbox-item">
        <div class="adminlogin">
          <div class="sitelogo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
            <p>Password Reset.</p>
          </div>
          <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p>
            <div class="col-md-12">
              <div class="poploginbtn">
                <a class="doohmabtn" href="{% url 'home' %}">
                    <button class="doohmabtn"><i class="fa mfp-ajax-holder"></i> Home</button>
                </a>
            </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}