{% extends 'base.html' %}
{%block title %} Doohma | Password Reset Done {% endblock title %}

{% block body-css %}admin adminloginpage {% endblock %}
{% block content %}
    {% load static %}
    <div class="flexbox-container">
      <div class="flexbox-item">
        <div class="adminlogin">
          <div class="sitelogo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
            <p>Set Password</p>
          </div>
            <p>
            Your password has been set. You may go ahead and <a href="{% url 'home' %}">sign in</a> now.
          </p>
        </div>
      </div>
    </div>
{% endblock %}