{% extends 'base.html' %}
{%block title %} Doohma | Password Reset {% endblock title %}

{% block body-css %}admin adminloginpage {% endblock %}

{% block content %}
    {% load static %}
    <div class="flexbox-container">
      <div class="flexbox-item">
        <div class="adminlogin">
          <div class="sitelogo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
            <p>Password Reset.</p>
          </div>
          <form class="row" role="form"  method="post">
                <!-- Non field form errors -->
               {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <span class="alert-inner--text">{{error}}</span>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                    {% endfor %}
                {% endif %}
                 {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                 {% endfor %}
<!--Non field form errors end-->
                {% csrf_token %}
              <div class="col-md-12">
              <div class="md-form mb-3">
                <label data-error="wrong" data-success="right" for="username">Email</label>
                <input type="email" name="email" id="username" {% if form.email.value %} value="{{ form.email.value }} {% endif %}" class="form-control" placeholder="Enter your email">
              </div>
              {% if form.email.errors %}
                  <p>
                  {% for error in form.email.errors %}
                    <span class="btn-outline-danger">{{ error }}</span>
                  {% endfor %}
                  </p>
                {% endif %}
            </div>
            <div class="col-md-12">
              <div class="poploginbtn">
              <button class="doohmabtn" type="submit" value="submit">Reset</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}
<!-- By pass all javascripts -->
{% load static %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-material-design.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/genrel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script>
        AOS.init();
    </script>
{% endblock %}