
{% extends 'panel_base.html' %}

{% block maincontent %}
    {% load static %}
    <div class="maincontent clearfix">
        <div class="form-wizard-wrapper">
          <ul>
            <li><a class="form-wizard-link active" href="javascript:;" data-attr="info"><span>1. create ad</span></a></li>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="ads"><span>2. select screen location</span></a></li>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="placement"><span>3. select subscription plan</span></a></li>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="schedule"><span>4. billing detail</span></a></li>
          </ul>
        </div>
        <div class="infodetail">
          <p>Please fill in the details</p>
        <form method="post" novalidate action="{% url 'ad-view' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% if from_edit %}
            <input type="hidden"  name="redirect_url" value="{% url 'adverts_list' %}">
        {% endif %}
            {{ form.non_field_errors }}
              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
              {% endfor %}
          <div class="md-form mb-4">
            <label data-error="wrong" data-success="right" for="id_ad_title">Ad Title</label>
                {% if ad_id %}
                <input type="hidden" name="ad_id" value="{{ad_id}}"/>
                {% endif %}
              <input placeholder="Enter Ad Title (e.g. Uber_eats_branding_London)"
                     class="form-control {% if form.ad_title.errors %} has_danger {% endif %}"
                     id="id_ad_title"
                     maxlength="255"
                     name="ad_title"
                     required="required"
                     value="{% if form.ad_title.value %} {{ form.ad_title.value }}{% endif %}"
                     type="text" />
              <span>{{ form.ad_title.errors }}</span>
          </div>
          <div class="md-form mb-4">
            <label data-error="wrong" data-success="right" for="id_ad_description">Ad Description</label>
            <textarea  placeholder="Enter key message / text content you want to show in your ad"
                       class="form-control rounded-0 {% if form.ad_description.errors %} has_danger {% endif %}"
                       id="id_ad_description"
                       rows="10" cols="40"
                       name="ad_description"
                       required="">{% if form.ad_description.value %}{{ form.ad_description.value }}{% endif %}</textarea>
            <span>{{ form.ad_description.errors }}</span>
          </div>
           <div class="datepicker mb-4">
             <label for="start_date">Select the date you want to start your ad campaign</label>
                    {{form.start_date}}
            <span>{{ form.start_date.errors }}</span>
           </div>
          <div class="md-form mb-4">
            <label data-error="wrong" data-success="right" for="defaultForm-pass">Upload high quality image or video to display on your ad</label>
               <div class="md-form mb-4 uploadform">
                  <span>Recommended formates: JPEG, JPG, PNG & MP4</span>
                  <div class="file-field">
                    <input name="images" id="images" type="file" accept="application/octet-stream,image/*,video/mp4,video/x-m4v,video/*"/>
                    <div class="or">or</div>
                    <div class="instabtndiv">
                      <span onclick="openRequestedPopup('{{ insta_link }}')" class="instabtn">Import from Instagram</span>
                    </div>
                  </div>
              </div>
              <span class="alert-danger">{{ form.images.errors }}</span>
            <div class="submitbar" role="group">
                <button type="submit" class="doohmabtn active">Submit</button>
                <a href="{% url 'adverts_list' %}"  type="reset" class="canscelbtn">Cancel</a>
              </div>
          </div>
         </form>
        </div>
      </div>

{% endblock %}

{% block extrajs %}
    <script>
    var images = $('#images');
    {% if image_set %}
    var image_set = {{ image_set|safe }};
    {% endif %}
    [
        {supported: 'Symbol' in window, fill: 'https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js'},
        {supported: 'Promise' in window, fill: 'https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js'},
        {supported: 'fetch' in window, fill: 'https://cdn.jsdelivr.net/npm/fetch-polyfill@0.8.2/fetch.min.js'},
        {supported: 'CustomEvent' in window && 'log10' in Math && 'sign' in Math &&  'assign' in Object &&  'from' in Array &&
                    ['find', 'findIndex', 'some', 'includes'].reduce(function(previous, prop) { return (prop in Array.prototype) ? previous : false; }, true), fill: 'https://unpkg.com/filepond-polyfill/dist/filepond-polyfill.js'}
    ].forEach(function(p) {
        if (p.supported) return;
        document.write('<script src="' + p.fill + '"><\/script>');
    });
    $("input[name='start_date']").datepicker({
            minDate: 0,
            dateFormat: "yy-mm-dd"
        });
    $(function(){
        // Turn input element into a pond with configuration options
        $.fn.filepond.registerPlugin(FilePondPluginFileEncode);
        $.fn.filepond.registerPlugin(FilePondPluginFileValidateType);
        images.filepond({
            allowMultiple: true,
            acceptedFileTypes: ['image/png']
        });
        if (image_set){
            console.log(image_set);
            image_set.forEach(function (item) {
                (async function() {
                    let blob = await fetch(item).then(
                    r => r.blob()
                    );
                    let dataUrl = await new Promise(resolve => {
                      let reader = new FileReader();
                      reader.onload = () => resolve(reader.result);
                      reader.readAsDataURL(blob);
                    });
                    // now do something with `dataUrl`
                    images.filepond('addFile', dataUrl).then(function(file){
                      console.log('file added', file);
                    });
                })();
            });
        }
        // Listen for addfile event
        $('#images').on('FilePond:addfile', function(e) {
            console.log('file added event', e);
        });
        $('form').submit(function () {
           $('#images')
        });
    });

    var windowObjectReference;
    function openRequestedPopup(url) {
      windowObjectReference = window.open(
        url,
        "instagram",
        "height=500,width=500,modal=yes,alwaysRaised=yes,left=500,top500"
      );
    }
    function popUpHandler(val) {
        console.log(val);
        val.forEach(function (item) {
            (async function() {
                let blob = await fetch(item).then(r => r.blob());
                let dataUrl = await new Promise(resolve => {
                  let reader = new FileReader();
                  reader.onload = () => resolve(reader.result);
                  reader.readAsDataURL(blob);
                });
                // now do something with `dataUrl`
                images.filepond('addFiles', dataUrl).then(function(file){
                  console.log('file added', file);
                });
            })();
        });
        console.log("called from popup window with val:==> "+val)
    }
    </script>
{% endblock %}

