{% extends 'panel_base.html' %}
{% block body-css %} project-detail-page {% endblock %}
{% block maincontent %}
  {% load static %}
    <div class="maincontent clearfix">
        <h1><a href="#">AD DETAILS</a></h1>
        <div class="galleryanddetail">
          <div class="infodetail">
            <div class="row">
              <div class="col-md-7">
                <div class="md-form mb-4">
                  <label data-error="wrong" data-success="right" for="exampleForm2">Ad Title</label>
                  <input type="text" id="exampleForm2" class="form-control" value="{{ ad.ad_title }}" disabled>
                </div>
                <div class="md-form mb-4">
                  <label data-error="wrong" data-success="right" for="defaultForm-pass">Ad Description</label>
                  <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" disabled>{{ ad.ad_description }}</textarea>
                </div>
                  {% if sub %}
                    <form class="dateinfo">
                  <div class="row">
                    <div class="col-md-4 mb-4">
                      <label data-error="wrong" data-success="right" for="exampleFormControlTextarea1">Start Date</label>
                      <input type="text" id="start_date" value="{{ ad.start_date|date:"M d, Y" }}" class="form-control" placeholder="01-jan-2019" disabled>
                    </div>
                    <div class="col-md-4 mb-4">
                      <label data-error="wrong" data-success="right" for="exampleForm2">Expire Date</label>
                      <input type="text" id="expiry_date" value="{{ad.end_date|date:"M d, Y"}}" class="form-control" placeholder="01-jan-2019" disabled>
                    </div>
                    <div class="col-md-4 mb-4">
                      <label data-error="wrong" data-success="right" for="defaultForm-pass">Paid Amount</label>
                      <input type="text" id="paid_amount" value="£ {{sub.package.cost}}" class="form-control" placeholder="$50" disabled>
                    </div>
                  </div>
                </form>
                  {% else %}
                  <p>Not yet subscribed</p>
                  {% endif %}
              </div>
            <div class="col-md-5">
                <!--Carousel Wrapper-->
                  <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
                    <!--Controls-->
                    <div class="controls-top">
                      <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
                      <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
                    </div>
                    <!--/.Controls-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    {% for item in medias%}
                      <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <div class="col-md-3 mb-3 imgitem">
                          <div class="card">
                            {% if item.type == 1 %}
                            <img class="img-fluid" src="{{ item.image.url }}" alt="Card image cap">
                            {% else %}
                              <video width="278" height="200" style="width: 100%;" controls>
                                <source src="{{ item.image.url }}" type="video/mp4">
                                <source src="{{ item.image.url }}" type="video/avi">
                                <source src="{{ item.image.url }}" type="video/ogg">
                                <source src="{{ item.image.url }}" type="application/octet-stream">
                              </video>
                              {% endif %}
                          </div>
                        </div>
                        {% if item.is_approved %}
                          <div class="text-center">
                            <label class="doohmabtn" style="background: #15c7c5; color: white;">Approved</label>
                          </div>
                        {% elif item.is_rejected %}
                           <div class="text-center">
                            <button class="doohmabtn" style="background: #f16e56; color: white;">Rejected</button>
                               <div>
                                   <span class="">Reason: {{item.get_reject_reason_display}}</span>
                               </div>

                          </div>
                        {% else %}
                           <div class="text-center">
                            <label class="doohmabtn" style="background: #a9a1a0; color: #000;">In Review</label>
                          </div>
                        {% endif %}
                      </div>
                      <!--/.First slide-->
                    {% endfor %}
                    </div>
                    <!--/.Slides-->
                  </div>
                <!--/.Carousel Wrapper-->
              </div>
                {% if ad.status == 2 or ad.status == 6 or ad.status == 5%}
                    <div class="col-md-7">
                        <div class="col-md-3 mb-3 imgitem">
                            <a href="{{ ad.video_url }}">
                                <video width="278" height="200" style="width: 100%;" controls>
                                    <source src="{{ ad.video_url }}" type="video/mp4">
                                </video>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        {% if ad.status == 2 or ad.status == 5 or ad.status == 6 %}
                            <div class="col-md-6">
                                <label>Broadcast</label>
                            </div>
                            <div class="col-md-6">
                                <label class="switch">
                                    {% if ad.status == 6 or ad.status == 2%}
                                        <input id="broadcast" value="5" type="checkbox"/>
                                    {% elif ad.status == 5 %}
                                        <input id="broadcast" value="6" type="checkbox" checked/>
                                    {% endif %}
                                  <span class="slider round"></span>
                                </label>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block footer %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-material-design.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-material-design.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/genrel.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-toggle.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script>
        AOS.init();
      </script>
      <script>
            $(function() {
                $('.popup-youtube, .popup-vimeo').magnificPopup({
                    disableOn: 700,
                    type: 'iframe',
                    mainClass: 'mfp-fade',
                    removalDelay: 160,
                    preloader: false,
                    fixedContentPos: false
                });
            });
            $('.carousel-multi-item').carousel({
                interval: false,
                autoplay:false,
                wrap: false

              });
              //trigger next modal
        </script>
    <script>
    $("#broadcast").click(function (e) {
        e.preventDefault()
        var value  = $(this).val();
        var formData = new FormData();
        var target = $( e.target );
        formData.append('status', value);
        $.ajaxSetup({
            headers:
            { 'X-CSRFToken': "{{ csrf_token }}"}
        });
        $.ajax({
            url: `/ad/broadcast/{{ad.id}}/`,
            type: 'POST',
            data: formData,
            headers: {
                    'X-CSRFToken': "{{ csrf_token }}"
            },
            success: function (response) {
                if  (response.status === 6){
                    $(target).val(6)
                    $(target). prop("checked", true);
                }
                else if  (response.status === 5) {
                    $(target).val(5)
                    $(target). prop("checked", false);
               } else {
                alert("Something went wrong ! please try again later")
                window.location.reload();
               }
            },
            error: function (error){
              console.log(error)
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    </script>
    <script>
      $('.carousel-inner').each(function() {

          if ($(this).children('div').length === 1) $(this).siblings('.controls-top').hide();

      });
    </script>
    <script type="text/javascript">
         $('.carousel-multi-item').on('slid', '', function() {
            var $this = $(this);

            $this.children('.controls-top').show();

            if($('.carousel-inner .item:first').hasClass('active')) {
              $this.children('.controls-top:first').hide();
            } else if($('.carousel-inner .item:last').hasClass('active')) {
              $this.children('.controls-top:last').hide();
            }

          });
       </script>
{% endblock %}