{% extends 'panel_base.html' %}

{% block body-css %} tablepage {% endblock %}
{% block maincontent %}
    {% load static %}
    <div class="maincontent clearfix">
        <h1>AD LISTING</h1>
        <div class="creatbtnhead">
          <a href="{% url 'ad-new' %}"><button class="creatad">
              <img src="{% static 'images/plus-whight.png' %}" alt="create-image">Create AD</button></a>
        </div>
        <div class="datatable">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sr#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Subscription</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Expire Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
              {% if ad_list %}
                  {% for ad in ad_list %}
                    <tr>
                      <th scope="row">{{ forloop.counter0|add:ads.start_index }}</th>
                      <td>{{ad.ad_title}}</td>
                      <td> {% if ad.currently_susbscribed %} £{{ad.currently_susbscribed.package.cost }} {% else %} N/A {% endif %}</td>
                      <td>{% if not ad.start_date %} N/A {% else %} {{ad.start_date}} {% endif %}</td>
                      <td> {% if not ad.end_date %} N/A {% else %} {{ad.end_date|date:"M d, Y"}} {% endif %}</td>
                      <td class='{% if ad.status == "Approved" %} approved {% elif ad.status == "Requested" %} pending {% elif ad.status == 'Rejected' %} rejected {% endif %}'>
                           {{ad.status}} </td>
                      <td>
                        <a href="{% url 'ad-edit' ad_id=ad.id %}" class="viewbtn"><i class="fas fa-edit"></i></a>
                          {% if ad.currently_susbscribed %}
    <!--                        <a href="{% url 'delete-ad'  pk=ad.id %}" class="viewbtn"><i class="fa fa-trash" aria-hidden="true"></i></a>-->
                                <a href="{% url 'ad-details'  ad_id=ad.id %}" class="viewbtn"><i class="fa fa-eye" aria-hidden="true"></i></a>
                          {% else %}
                            <a {% if not ad.currently_susbscribed %} href="{% url 'subscribe' pk=ad.id %}" {% endif %}  class="viewbtn">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                            </a>
                          {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
              {% else %}
                  <tr>
                      <td class="text-center" colspan="7">No Ads Created</td></tr>
              {% endif %}
              </tbody>
            </table>
          </div>
          <div class="tablepagination">
            <nav aria-label="Page navigation example">
              <ul class="pagination pg-blue">
                {% if ads.has_previous %}
                    <li class="page-item ">
                        <a class="page-link left-arrow" href="?page={{ ads.previous_page_number }}" tabindex="-1">
                        <img src="{% static 'images/left-pagination.png' %}" alt="Left"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ ads.number|add:'-1'}}">{{ ads.number|add:'-1'}}</a>
                    </li>
                {% endif %}
                  <li class="page-item active">
                  <a class="page-link">{{ads.number}}<span class="sr-only">(current)</span></a>
                </li>
                {% if ads.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ ads.number|add:'1'}}">{{ ads.number|add:'1'}}</a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link right-arrow" href="?page={{ ads.next_page_number }}">
                        <img src="{% static 'images/right-pagination.png' %}" alt="Left"></a>
                    </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
{% endblock %}