<!DOCTYPE html>
<html lang="en">
<head>
    <title>Select images</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/image-picker.css' %}"/>
    <style>
        .image_picker_image { width: 200px;}
    </style>
</head>
<body>
    <label for="image-picker">Select up to 5 images</label>
    <select id="image-picker" multiple="multiple" class="image-picker masonry show-html">
        {% for image in all_medias %}
            <option data-img-src="{{ image.media_url }}" value="{{ image.media_url }}">Cute Kitten 1</option>
        {% endfor %}
    </select>
    <button class="doohmabtn" onclick="submitUrls()">Done</button>
    <script src="{% static  'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/image-picker.js' %}"></script>
    <script>
        $("select").imagepicker({
            hide_select : true,
            show_label  : false,
        });
        function submitUrls(){
            var dataUrls = [];
            var picker_obj = $("select").data('picker').selected_values();
            if(picker_obj.length <=0) {
                alert("please select atleast one photo to submit");
                return;
            }
            window.opener.popUpHandler(picker_obj);
            window.close();
        }
    </script>
</body>
</html>
