<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <!-- Required meta tags -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154445948-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-154445948-1');
        </script>
        <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7828634.js"></script> <!-- End of HubSpot Embed Code -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
              integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
              crossorigin="anonymous">
        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {% endblock %}

        <title>
            {% block title %} Doohma | Home {% endblock title %}
        </title>

        {% load static %}

        {% block favicon %}
            <!-- Favicon -->
            <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/gif" sizes="16x16">
        {% endblock %}
        {% block main-styles %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
                  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
                  crossorigin="anonymous">
            <!-- CSS Files -->
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/aos.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-material-design.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-material-design.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/filepond.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/filepond.min.css' %}">
        {% endblock %}
        <!-- Custom CSS files-->
        {% block custom-styles %}
            <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
            <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>
            <link href="{% static 'css/fonts.css' %}" rel="stylesheet"/>
            <link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
        {% endblock %}
    </head>
{% endblock %}

<body class="{% block body-css %} home {% endblock %}">
{% block content %}

    <h1> Please override this page content </h1>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block extrajs %}
    <!--block to add script files-->
{% endblock %}

{% block modals %}
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="sitelogo">
                        <img src="{% static 'images/logo.png' %}" alt="logo">
                        <p>Please login to your account.</p>

                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClosePopup">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="otherloginbtn">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="doohmabtn facebookbtn" href="{% url 'social:begin' 'facebook' %}">
                                    <button class="doohmabtn facebookbtn">
                                        <i class="fab fa-facebook-square"></i>Log in with Facebook
                                    </button>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="doohmabtn googlebtn" href='{% url "social:begin" "google-oauth2" %}'>
                                    <button class="doohmabtn googlebtn">
                                        <i class="fab fa-google"></i>Log in with Google
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="loginemail">Email</label>
                                <input type="email" id="loginemail" class="form-control" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="md-form mb-4">
                                <label data-error="wrong" data-success="right" for="password">Password</label>
                                <input type="password" id="password" class="form-control"
                                       placeholder="Enter your password">
                            </div>
                        </div>
                    </div>
                    <div class="data-error text-center" id="login-data-error"></div>
                    <div class="poploginbtn">
                        <button id="mainlogin" class="doohmabtn">Log in</button>
                    </div>
                    <div class="forgotpass">
                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                    </div>
                    <div class="formtext">
                        <p>Don’t have an account? <a href="#" id="signup" data-toggle="modal" data-target="#modalsigninForm"> Sign up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalsigninForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="sitelogo">
                        <img src="{% static 'images/logo.png' %}" alt="logo">
                        <p>Please create your account.</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <!-- <div class="otherloginbtn">
                      <div class="row">
                        <div class="col-md-6">
                          <button class="doohmabtn facebookbtn"><i class="fab fa-facebook-square"></i>Log in with Facebook</button>
                        </div>
                        <div class="col-md-6">
                          <button class="doohmabtn googlebtn"><i class="fab fa-google"></i>Log in with Google</button>
                        </div>
                      </div>
                    </div> -->
                    <form id="signupformpopup">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label data-error="wrong" data-success="right" for="first_name">First Name*</label>
                                    <input type="text" id="first_name" class="form-control"
                                           placeholder="Enter your first name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label data-error="wrong" data-success="right" for="last_name">Last Name*</label>
                                    <input type="text" id="last_name" class="form-control"
                                           placeholder="Enter your last name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label data-error="wrong" data-success="right" for="signupemail">Email*</label>
                                    <input type="text" id="signupemail" class="form-control"
                                           placeholder="Enter your email">
                                    <p>We'll never share your email with anyone else</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label data-error="wrong" data-success="right" for="mobile">Mobile No.</label>
                                    <input type="number" id="mobile" class="form-control"
                                           placeholder="Enter your mobile no.">
                                    <p>We'll never share your phone number with anyone else</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label data-error="wrong" data-success="right" for="website">Website</label>
                                    <input type="text" id="website" class="form-control"
                                           placeholder="Enter your website link">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label data-error="wrong" data-success="right" for="facebook_url">Facebook
                                        Page</label>
                                    <input type="text" id="facebook_url" class="form-control"
                                           placeholder="Enter you facebook page link">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label data-error="wrong" data-success="right" for="password1">Password*</label>
                                    <input type="password" id="password1" class="form-control"
                                           placeholder="Enter your password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label data-error="wrong" data-success="right" for="password2">Confirm
                                        Password*</label>
                                    <input type="password" id="password2" class="form-control"
                                           placeholder="Re enter your password">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="poploginbtn">
                        <button id="ajaxSignup" type="submit" class="doohmabtn">sign up</button>
                        <div class="data-error text-center" id="signup-data-error"></div>
                    </div>
                    <div class="formtext">
                        <p>Already have an account? <a href="" id="login" data-toggle="modal"
                                                       data-target="#modalLoginForm">Log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end here -->
   <script type="text/javascript">
    $(function () {
        $("#btnClosePopup").click(function () {
            $("#modalLoginForm").modal("hide");
        });
    });
    </script>
{% endblock %}
</body>
</html>