{% extends  'base.html' %}

{% block content %}
    <header>
        <!--Navbar -->
        {% load static %}
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
            <a class="navbar-brand" onclick="topFunction()" href="#">
                <img class="mainlogo" src="{% static 'images/logo.png' %}">
                <img class="fixedlogo" src="{% static 'images/logo.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent-333"
                    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation"
                    onclick="myFunction()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-5" onclick="myFunction()">
                        <a class="nav-link" href="#homeaboutsection" id="mybutton">About us
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-5" onclick="myFunction()">
                        <a class="nav-link" href="#whydoohma">Why Doohma?</a>
                    </li>
                    <li class="nav-item mr-5" onclick="myFunction()">
                        <a class="nav-link" href="#howitworks">How it Works</a>
                    </li>
                    <li class="nav-item mr-5" onclick="myFunction()">
                        <a class="nav-link" href="#testimonial">Testimonials</a>
                    </li>
                    <li class="nav-item mr-5" onclick="myFunction()">
                        <a class="nav-link" href="#homefaq">FAQ</a>
                    </li>
                    <li class="nav-item mr-5" onclick="myFunction()">
                        <a class="nav-link" href="#contactus">Contact us</a>
                    </li>
                    {%  if user.is_authenticated %}
                     <li class="nav-item mr-5" id="redirect-button">
                        {% if user.is_staff %}
                            <a href="{% url 'campaign-list' %}" class="nav-link loginbtn">Dashboard</a>
                        {% else %}
                            <a href="{% url 'adverts_list' %}" class="nav-link loginbtn">Dashboard</a>
                        {% endif %}
                    </li>
                    {% else %}
                    <li class="nav-item mr-5">
                        <a href="#" class="nav-link loginbtn" data-toggle="modal" data-target="#modalLoginForm">Login /
                            Signup</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--/.Navbar -->
    </header>
    <!--Main Navigation-->

    <!-- banner start here -->
    <div class="banner">
        <div class="view">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient d-flex justify-content-left">
                <!-- Content -->
                <div data-aos="fade-up-left" data-aos-easing="linear" data-aos-duration="1500">
                    <div class="bannertext">
                        <h1 class="h1-responsive">DISCOVER A NEW WAY TO ADVERTISE ON A DIGITAL SCREEN</h1>
                        <p style="color: #13C7C5"><div style="color: #13C7C5" id="button">Find out more</div></p>
                        <div class="row">
                            <div class="col-md-6 class1">
                                <form class="gform pure-form pure-form-stacked" method="POST"
                                      action="https://script.google.com/macros/s/AKfycby9EVz8_1WtzErqoy1ShBGPGz-I7ZKsuGLvv7dwhCop6aY68Lc/exec">
                                    <div class="form-elements bannerbutton">
                                        {%  if user.is_authenticated %}
                                         <button class="doohmabtn">
                                            {% if user.is_staff %}
                                                <a href="{% url 'campaign-list' %}" class="nav-link loginbtn">Join now</a>
                                            {% else %}
                                                <a href="{% url 'adverts_list' %}" class="nav-link loginbtn">Join now</a>
                                            {% endif %}
                                        </button>
                                        {% else %}
                                        <button class="doohmabtn">
                                            <a href="#" class="nav-link loginbtn" data-toggle="modal" data-target="#modalLoginForm">Join now</a>
                                        </button>
                                        {% endif %}
                                    </div>
                                    <!-- <div class="thankyou_message" style="display:none;">
                                        <img src="{% static 'images/check-mark-button.png' %}" alt="thank-you">
                                        <h2>Thanks for your interest! We will contact you soon.</h2>
                                    </div> -->
                                </form>
                            </div>
                            <div class="col-md-6 class2">
                                <div class="offermonth">
                                    <div class="colorcircle">
                                        <img src="{% static 'images/banner-offer.png' %}" alt="offer">
                                        <div class="offers">
                                            <span>From Only</span>
                                            <h3>£39.99</h3>
                                            <h4>A Month</h4>
                                        </div>
                                        <div class="offernotes">
                                            <span>1 Yr</span>
                                            <h3>Contract</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mask & flexbox options-->
        </div>
        <div class="lineimage1">
            <img src="{% static 'images/rectangle-bottom-banner.png' %}">
        </div>
        <div class="lineimage2">
            <img src="{% static 'images/rectangle2.png' %}">
        </div>
        <div class="lineimage3">
            <img src="{% static 'images/rectangle3.png' %}">
        </div>
        <div class="lineimage4">
            <img src="{% static 'images/rectangle4.png' %}">
        </div>
        <div class="lineimage5">
            <img src="{% static 'images/rectangle5.png' %}">
        </div>
        <div class="lineimage6">
            <img src="{% static 'images/rectangle6.png' %}">
        </div>
        <section id="section02" class="demo">
            <a href="#channel"><span></span></a>
        </section>
    </div>
    <!-- banner close here -->

    <!-- start home logo slider -->
    <section id="channel">
        <div class="container">
            <div class="title">
                <h2>Channel Partners</h2>
            </div>
            <div class="owl-carousel partners-carousel">
                <div class="item">
                    <img src="{% static 'images/subway-logo-new.png' %}" alt="subway"/>
                </div>
                <div class="item">
                    <img src="{% static 'images/nisa-logo.png' %}" alt="nisa"/>
                </div>
                <div class="item">
                    <img src="{% static 'images/philips.png' %}" alt="philips"/>
                </div>
            </div>
        </div>
        <!-- Logo carousel -->

    </section>
    <!-- end home logo slider -->

    <!-- start about section -->
    <section id="homeaboutsection" class="page-section">
        <div class="aboutsection">
            <div class="container">
                <div class="aboutcontent">
                    <div class="title">
                        <h2>About US</h2>
                    </div>
                    <div class="aboutbio">
                        Doohma is an Advertisement Technology firm based out of London, UK. We are here to empower small
                        business owners and service providers to reach their key audiences in the right place at the
                        right time by advertising on a Digital Screen located in strategic hyperlocal Venues (retail
                        super markets, take away shops etc.)
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
    <section class="doohmaconnect">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Doohma Connect</h2>
                    </div>
                    <div class="connectlogo">
                        <img src="{% static 'images/connect-logo.png' %}" title="Connect" alt="coonect-logo">
                    </div>
                    <div class="business">
                        <img src="{% static 'images/business.png' %}" alt="Business">
                        <span>Small Business and<br> Service Providers</span>
                    </div>
                    <div class="consumers">
                        <img src="{% static 'images/consumer.png' %}" alt="Consumers">
                        <span>Consumers</span>
                    </div>
                    <div class="instore">
                        <img src="{% static 'images/instore.png' %}" alt="Instore">
                        <span>Instore Digital Signage</span>
                    </div>
                </div>
                <div class="connectbtn">

                    <!-- <button class="doohmabtn"><a href="#" onclick="topFunction()" title="Go to top">try now</a></button> -->

                    {%  if user.is_authenticated %}
                     <button class="doohmabtn">
                        {% if user.is_staff %}
                            <a href="{% url 'campaign-list' %}" class="nav-link loginbtn">try now</a>
                        {% else %}
                            <a href="{% url 'adverts_list' %}" class="nav-link loginbtn">try now</a>
                        {% endif %}
                    </button>
                    {% else %}
                    <button class="doohmabtn">
                        <a href="#" class="nav-link loginbtn" data-toggle="modal" data-target="#modalLoginForm">try now</a>
                    </button>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
    <!-- start home advertise -->

    <!-- home bio section here -->
    <section id="whydoohma" class="page-section">
        <div class="homewhysection">
            <div class="title">
                <h2>Why Doohma?</h2>
            </div>
            <div class="container">
                <div class="viewimgstore">
                    <div class="row">
                        <div class="col-lg-7 col-sm-12 col-md-12 col-xs-12">
                            <div class="shopinstore">
                                <img src="{% static 'images/store-img.png' %}" alt="Shop In Store"
                                     title="Shop In Store">
                                <div class="perstore">
                                    <span>63%</span>
                                    <h3>Shop Instore</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12">
                            <div class="shoponline">
                                <img src="{% static 'images/online-img.png' %}" alt="Shop Online" title="Shop Online">
                                <div class="peronline">
                                    <span>37%</span>
                                    <h3>Shop Online</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progresssection">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mediabar">
                                <h2>Engagement with OOH Media</h2>
                                <div class="mergebar">
                                    <span>Highly<br>Engaged</span>
                                </div>
                                <div class="advertising">
                                    <span>Engaged with<br> Advertising</span>
                                </div>
                                <div class="progresbaritem">
                                    <div class="progress gradient-bk">
                                        <div class="incomplete" style="width: 85%;"></div>
                                        <span>15%</span>
                                    </div>
                                    <div class="progress gradient-bk">
                                        <div class="incomplete" style="width: 75%;"></div>
                                        <span>25%</span>
                                    </div>

                                    <div class="progress gradient-bk">
                                        <div class="incomplete" style="width: 59%;"></div>
                                        <span>41%</span>
                                    </div>

                                    <div class="progress gradient-bk">
                                        <div class="incomplete" style="width: 85%;"></div>
                                        <span>15%</span>
                                    </div>

                                    <div class="progress gradient-bk">
                                        <div class="incomplete" style="width: 97%;"></div>
                                        <span>3%</span>
                                    </div>
                                    <div class="progress gradient-bk">
                                        <div class="incomplete" style="width: 99%;"></div>
                                        <span>1%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="Category">
                                <h2>Engagement with OOH Category</h2>
                                <div class="place">
                                    <span>Place<br>Based</span>
                                </div>
                                <div class="progresbaritem">
                                    <div class="progress gradient-bk">
                                        <div class="incomplete" style="width: 82%;"></div>
                                        <span>18%</span>
                                    </div>
                                    <div class="progress gradient-bk">
                                        <div class="incomplete" style="width: 74%;"></div>
                                        <span>26%</span>
                                    </div>

                                    <div class="progress gradient-bk">
                                        <div class="incomplete" style="width: 62%;"></div>
                                        <span>38%</span>
                                    </div>
                                </div>
                                <div class="listing">
                                    <ul>
                                        <li>Movie theatre</li>
                                        <li>Shopping mall</li>
                                        <li>Place-based printed sign</li>
                                        <li>Place-based video screens</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="colorsection">
                        <ul>
                            <li class="orange">All of the time</li>
                            <li class="red">Most of the time</li>
                            <li class="perpal">Some of the time</li>
                            <li class="mendi">Almost never</li>
                        </ul>
                    </div>
                </div>
                <div class="advertise">
                    <div class="container">
                        <div class="advcontent">
                            <div class="advsteps">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="countdiv">
                                            <span>70 <sup>%</sup></span>
                                            <p>of people recall seeing on OOH ad. We are Awareness Specialist!</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="countdiv">
                                            <span>25 <sup>%</sup></span>
                                            <p>of people have shared on OOH ad on social media. Hello Brand Advocacy!</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="countdiv">
                                            <span>26 <sup>%</sup></span>
                                            <p>immediately visited the business advertised. Cue Sales!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home bio section here -->

    <!-- start home how it works section here -->
    <section id="howitworks" class="page-section howitworks">
        <div class="homehowitworks">
            <div class="my-5 container">
                <div class="title">
                    <h2 class="text-center">How it Works</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="item">
                            <img src="{% static 'images/create.png' %}" alt="create">
                            <span>1</span>
                            <p class="grey-text mb-md-0 mb-5 text-muted">Create your ad</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <img src="{% static 'images/select.png' %}" alt="Log an Outing">
                            <span>2</span>
                            <p class="grey-text mb-md-0 mb-5 text-muted">Select location based on your target
                                audience</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item last">
                            <img src="{% static 'images/step3.png' %}" alt="Log an Outing1">
                            <span>3</span>
                            <p class="grey-text mb-md-0 mb-5 text-muted"> Your advertisement is broadcasted </p>
                        </div>
                    </div>
                </div>
                <div class="howitbtn">
                    <!-- <button class="doohmabtn"><a href="#" onclick="topFunction()" title="Go to top">Try Now</a></button> -->

                    {%  if user.is_authenticated %}
                     <button class="doohmabtn">
                        {% if user.is_staff %}
                            <a href="{% url 'campaign-list' %}" class="nav-link loginbtn">try now</a>
                        {% else %}
                            <a href="{% url 'adverts_list' %}" class="nav-link loginbtn">try now</a>
                        {% endif %}
                    </button>
                    {% else %}
                    <button class="doohmabtn">
                        <a href="#" class="nav-link loginbtn" data-toggle="modal" data-target="#modalLoginForm">try now</a>
                    </button>
                    {% endif %}

                </div>
                <!-- Grid column -->
            </div>
        </div>
    </section>

    <!-- end home how it works section here -->
    <!-- testimonial slider div start here -->
    <section id="testimonial" class="page-section">
        <div class="container">
            <div class="title">
                <h2>Testimonials</h2>
            </div>
            <div class="testbgdiv">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="card">
                            <img src="{% static 'images/testimonial-double-quat.png' %}">
                            <p>Doohma helped us to get our first order from east London area. It creates an personal
                                touch to the audience resulting in conversion</p>
                            <div class="testprofileinfo">
                                <h3 class="name">Dimitrios Samaras</h3>
                                <span class="designation">Co Founder</span>
                            </div>
                            <div class="webmail">
                                <a href="https://homecookeduk.com/" target="_blank">www.homecookeduk.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="{% static 'images/testimonial-double-quat.png' %}">
                            <p>Doohma is the next generation Digital out of home advertisement that is impactful and
                                affordable</p>
                            <div class="testprofileinfo">
                                <h3 class="name">Martyn Proctor</h3>
                                <span class="designation">CEO</span>
                            </div>
                            <div class="webmail">
                                <a href="https://www.martynproctor.com/" target="_blank">www.MartynProctor.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="{% static 'images/testimonial-double-quat.png' %}">
                            <p>Doohma is a complimentary channel to your marketing efforts. It is a must include as part
                                of your wider campaign</p>
                            <div class="testprofileinfo">
                                <h3 class="name">Abdul Basit</h3>
                                <span class="designation">International Ambassador – Croydon Council</span>
                            </div>
                            <div class="webmail">
                                <a href="https://www.whd.org.uk/" target="_blank">www.whd.org.uk</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial section end here -->

    <!-- home faq section start here -->
    <section id="homefaq" class="page-section">
        <div class="container">
            <div class="title">
                <h2>Frequently Asked Questions</h2>
            </div>
            <main id="faqs">
                <section id="faq_section1" class="faq_sections">
                    <ul>
                        <li>
                            <div>
                                <p class="faqtitle">Where is my advertisement/s broadcasted?</p>
                                <span><img src="{% static 'images/faq-arrow.png' %}"></span>
                            </div>
                            <div>
                                <p class="answer">
                                    Your advertisement is broadcasted on a digital signage screen (43”) in-store at
                                    the <a href="https://www.google.com/maps/place/Nisa+Virginia+Quay/@51.5091515,-0.004191,17z/data=!3m1!4b1!4m5!3m4!1s0x487602a98e3398e3:0x2fafa7de2378280a!8m2!3d51.5091515!4d-0.0020023?hl=en" target="_blank">Nisa Virginia Quay</a>. We will soon be launching screens at other strategic
                                    locations
                                    - please stay tuned...</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="faqtitle">How often and when is my advertisement/s broadcasted? </p>
                                <span><img src="{% static 'images/faq-arrow.png' %}"></span>
                            </div>
                            <div>
                                <p class="answer">Once your advertisement is approved by us, we broadcast your
                                    advertisement/s based on the membership plan you choose. For example, for a monthly
                                    plan of <b>£39.99/-</b> we will broadcast your ad at least <b>4000</b> times per
                                    month. Our platform intelligently distributes your content across each day so as to
                                    maintain a constant impact for your brand/service.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="faqtitle">I don’t have an advertisement, will you make it for me? </p>
                                <span><img src="{% static 'images/faq-arrow.png' %}"></span>
                            </div>
                            <div>
                                <p class="answer">Certainly! Please choose our premium plan and we will design your
                                    advertisement content for no extra costs (terms and conditions apply)</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="faqtitle">How much does it cost?</p>
                                <span><img src="{% static 'images/faq-arrow.png' %}"></span>
                            </div>
                            <div>
                                <p class="answer">This depends on the number of times you want your advertisement to be broadcasted. Our basic plan starts from a cost of only £39.99 per month (that is merely £1.49 per day) and comes with a months contract. Please contact us for more details, or if you have a customized requirement.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="faqtitle">How do I know if my advertisement is broadcasted? </p>
                                <span><img src="{% static 'images/faq-arrow.png' %}"></span>
                            </div>
                            <div>
                                <p class="answer">Doohma will send you a report at the end of the month detailing
                                    information about your ad broadcasts. In addition to this we can provide you a proof
                                    of play video clip of your advertisement played at the venue or an Android App that
                                    you can use to view what is being broadcasted on the screen from anywhere. Please
                                    contact us for more information.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="faqtitle">Is my data protected?</p>
                                <span><img src="{% static 'images/faq-arrow.png' %}" alt="faq-arrow"></span>
                            </div>
                            <div>
                                <p class="answer">At Doohma, we take privacy very seriously. We will assure that your
                                    details are not passed on to any 3rd party or use your information in other ways –
                                    please refer to our privacy policy <a href="{% url 'policy' %}">here</a>. Please
                                    feel free to contact our data protection officer (DPO) at <a
                                            href="mailto:dpo@doohma.com" target="_blank">dpo@doohma.com</a> for any other
                                    queries.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="faqtitle">Is Doohma’s technology reliable? </p>
                                <span><img src="{% static 'images/faq-arrow.png' %}"></span>
                            </div>
                            <div>
                                <p class="answer">Doohma is built and powered by Google’s back-end cloud infrastructure
                                    which is known for its maximum reliability and uptime – considering its yearly
                                    numbers of 99.978% availability and no scheduled down time, we can assure you that
                                    your advertisements are broadcasted as promised!</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="faqtitle">How can I report a problem?</p>
                                <span><img src="{% static 'images/faq-arrow.png' %}" alt=""></span>
                            </div>
                            <div>
                                <p class="answer">To report a problem, please contact <a href="mailto:contact@doohma.com"
                                                                                         target="_blank">contact@doohma.com</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </section>
            </main>
        </div>
    </section>
    <section id="contactus" class="page-section">
        <footer>
            <div class="footcontact">
                <div class="container">
                    <span>Connect with us</span>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footsocial">
                                <ul>
                                    <li><a href=" https://www.facebook.com/Doohmauk/" target="_blank"><i
                                            class="fab fa-facebook-square"></i></a></li>
                                    <li><a href="https://www.instagram.com/doohma/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="footlogo">
                                <a href="#" onclick="topFunction()" id="myBtn">Doohma</a>
                            </div>
                        </div>
                    </div>
                    <div class="footmail">
                        <a href="mailto:contact@doohma.com">contact@doohma.com</a>
                    </div>
                    <div class="footnav">
                        <div class="copyright">
                            <a class="copyright" href="#">Copyright 2020. Doohma</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'js/form-submission-handler.js' %}"></script>
    <!--block to add script files-->
    {% load static %}
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script>
        AOS.init();
    </script>
    <script>
        const navbar = document.querySelector('.navbar');
        const scrollspy = new VanillaScrollspy(navbar);
        if (scrollspy) {
            scrollspy.init();
        }
    </script>
    <script type="text/javascript">
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 10,
            loop: true,
            dots: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>
    <script type="text/javascript">
        var owl = $('.partners-carousel');
        owl.owlCarousel({
            loop: true,
            dots: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
          
              $(".bannertext #button").click(function() {
                $('html, body').animate({
                    scrollTop: $("#howitworks").offset().top
                }, 2000);
            });
        });
    </script>

    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
{% endblock %}
