.profile-pic {
    width:40px;
    height: 40px;
    border-radius: 50%;
}

.custom-hidden {
    display: none;
}

.li-button{
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #13C7C5;
    border-radius: 4px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #13C7C5;
    cursor: pointer;
    padding: 15px 20px;
}
.li-button:hover {
    background: #13C7C5;
    color:#000;
    cursor: pointer;
}

.selected {
    background:#13C7C5;
    color:#000;
}
ul.errorlist li {
    color: #B22222;
}
input.has_danger, textarea.has_danger, label.has_danger {
    border-color: #B22222 !important;
}
input.has_success, textarea.has_success{
    border-color: #1CB219;
}
.file-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
}
.file-item * {
    margin: 4px;
}
i.file-remove{
    cursor: pointer;
}
.image-preview {
    padding: 5px;
    margin: 5px;
    display: flex;
}

.image-preview div {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
}
.toast {
    position: absolute;
    top: 73px!important;
    right: 730px !important;
    background: #fff;
    z-index: 99;
    padding: 12px;
}