@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap');
@font-face {
    font-family: 'montserratbold';
    src: url('./fonts/montserrat-bold-webfont.eot');
    src: url('./fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-bold-webfont.woff') format('woff'),
         url('./fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextrabold';
    src: url('./fonts/montserrat-extrabold-webfont.eot');
    src: url('./fonts/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-extrabold-webfont.woff') format('woff'),
         url('./fonts/montserrat-extrabold-webfont.svg#montserratextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('./fonts/montserrat-regular-webfont.eot');
    src: url('./fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-regular-webfont.woff') format('woff'),
         url('./fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.eot');
    src: url('../fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
         url('../fonts/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}