/*Media quary css strat here*/
@media only screen and (max-width: 1760px){
    .aboutcol::before{width:820px;  height:860px;}

}
@media only screen and (max-width: 1680px){
	.banner::after{height: 720px;}
	header::after{height: 600px;}
}
@media only screen and (max-width: 1600px){

	.banner {height: 620px;}
	.page-section {padding-top: 95px;margin-top: -95px;}
	#channel .partners-carousel .item img {width: 100%; max-width: 200px; height: auto;margin: 0 auto;}
	.banner .lineimage6 img {bottom: 64%; right: 6%;}
	.banner .lineimage5 img {bottom: 58%; left: 49%;}
	.banner .lineimage4 img {bottom: 64%;left: 64%;}
	header::after {height: 500px;}
	.banner::after {height: 500px;}
	.bannertext h1 {font-size: 32px;line-height: 40px;}
	.homewhysection::before {height: 430px;}
	.homewhysection::after {top: 50px;height: 410px;}
	.business {top: 150px;left: 15%;}
	.consumers {top: 156px;right: 8%;}
	.business img, .consumers img, .instore img {max-width: 250px;}
	#whydoohma::after {top: 360px;}
	#howitworks::before {top: -400px;}
	.doohmaconnect::after {top: 0px; height: 800px; background-position: top left 0px;}
	.bannertext {margin-left: 260px;}
	.videosection img {width: 100%; height: auto;}
	.videosection .playbtn {width: 60px; height: 70px;top: 220px;left: 247px;}
	.aboutcontent {max-width: 860px;width: 100%;margin:0 auto;}
	.flexbox-container {min-height: 420px;}
	.admin .flexbox-container {min-height: 580px;}
 }

@media only screen and (max-width: 1560px){

	.bannertext {margin-left: 100px;}
	.navbar-brand {margin-left: 90px;}
	.advertise::after {top: -350px;height: 960px;}

}
@media only screen and (max-width: 1440px){
	#section02 a span{bottom: 100px;}
	.banner {height: 740px;}
	.banner .lineimage5 img {left: 46%;}
    .bannertext {margin-left: 20px;}
	.navbar-brand {margin-left: 0;}
	.advcontent {margin-right: auto;}
	.flexbox-container {min-height: 400px;}
}

@media only screen and (max-width: 1380px){
    .advertise::after {top: -250px;height: 820px;}
    .completeform {padding: 20px 15px;}
    header::after{height: 495px;}
    .banner .lineimage4 img {bottom: 70%;left: 58%;}
}
@media only screen and (max-width: 1366px){
	#section02 a span{bottom: 200px;}
}
@media only screen and (max-width: 1280px){
	.checkbox1  {right: 0px;}
	.maincontent .form-wizard-wrapper ul li a span{font-size: 14px;}
	#signupformpopup form {margin-bottom: 0;}
	.modal-body label {margin-bottom: 3px;}
	.modal-dialog .md-form {margin-bottom: 5px !important;}
	.page-section {padding-top: 135px;}
	#section02 a span {bottom: 40px;}
	.banner .lineimage6 img {bottom: 54%;right: 12%;}
	.banner .view {padding-top:0;}
	.banner  {height: 540px;}
	#channel {padding-top: 130px;}
	.bannertext {max-width: 580px;}
	.banner .lineimage4 img {left: 54%; bottom: 59%;}
	.banner .lineimage5 img {left: 41%;height: 280px;}
	#whydoohma::after {top: 300px;}
	#howitworks::before {top: -440px;}
	.homewhysection::after {top: 170px;}
	.aboutsection::after {height: 600px;}
	.advcontent {margin-left: 0;}
	.homewhysection::after, .homewhysection::before {height: 320px;}
	.doohmaconnect::after {background-position: top left 0px;height:630px;top:160px; }
	.pricediv {margin-top: 20px;}
	.pricediv h3{ font-size: 34px; }
	.approveorreject .reject img, .approveorreject .approve img {margin-right: 4px;}
	.approveorreject .approve, .approveorreject .reject {max-width: 110px;padding: 8px 10px;}
	.flexbox-container {min-height: 320px;}
    header .nav-item {margin-right: 20px !important;}
    .bannertext h1 {font-size: 26px;}
    .banner::after {height: 560px;}
    .completeform {padding: 25px 10px;}
    .admin .flexbox-container {min-height: 580px;}
}

@media only screen and (max-width: 1200px){
	#channel {padding-top: 20px;}
	.aboutcontent {max-width: 100%;width: 100%;margin:0 auto;}
    .banner::after {height: 460px;right: 0; top: 40px;}
    .bannertext h1 {padding-bottom: 20px; font-size: 34px; line-height: 44px;}
    .bannerbutton {margin-top: 40px;}
    .banner {height: 600px;}
    .advertise::after {top: -250px; height: 800px;}
    .advcontent {margin-left: 0;}
    .advertise, .aboutsection {padding: 30px 0;}

}
@media only screen and (max-width: 1150px){
    .homehowitworks .item::after {right: 0;}
}

@media only screen and (max-width: 1024px){
	header .nav-item{margin-right: 10px !important;}
	.peronline {left: 24%;}
	.shopinstore img, .shoponline img {min-height: 450px;}
	#section02 a span {bottom: 0;}
	.orange::after, .red::after, .perpal::after, .mendi::after{left: -10px;}
	.colorsection li {padding-left: 0; width: 34.33%;}
	.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {color: #000;}
	.countdiv span {font-size: 80px;}
	.countdiv span sup {top: -50px;left: -20px;}
	.aboutbio {font-size: 22px; line-height: 34px;}
	#howitworks::before {display: none;}
	#whydoohma::after{display: none;}
	.homehowitworks .item::after {right: 0;}
	.consumers {right: 15%;}
	.business img, .consumers img, .instore img {max-width: 160px;}
	.bannertext h1 {font-size: 22px; line-height: 30px;}
	.banner {height: 540px;}

	header::after {display: none;}
    .banner::after{top: 20px; height: 400px; right: -70px;}
    .aboutsection::after {display: none;}
    .videosection .playbtn{left: 227px; top: 200px;}
    .advcontent {margin-left: 0;}
    .advertise::after {top: -80px;height: 560px;}
    .congcontentdiv img {display: none;}
    .congcontent.fix {position: relative;text-align: center;background: linear-gradient(201.26deg, #FD9719 0%, #E74425 100%);box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);border-radius: 8px;padding: 20px; left: 0; top: 0;}
    .congcontent.fix img{display: block;}
    .testimonial .carousel-item {margin-left: 0;}
    .testimonial .itemcol {flex: 100%;max-width: 100%;display: block;transition: 500ms ease-in-out left;margin: 0;}
    .homewhysection::after {display: none;}
	.homewhysection::before {display: none;}
	.doohmaconnect::after {display: none;}
	.banner .lineimage1, .banner .lineimage2, .banner .lineimage3, .banner .lineimage4, .banner .lineimage5, .banner .lineimage6{display: none;}
	.banner .lineimage1 img, .banner .lineimage2 img, .banner .lineimage3 img, .banner .lineimage4 img, .banner .lineimage5 img, .banner .lineimage6 img {display: none;}
}

@media only screen and (max-width: 999px){

	.banner {background: rgb(255,255,255);background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(250,152,27,1) 100%);}
	#channel {padding: 100px 0 0;}
	.banner .aos-init.aos-animate {width: 100%;}
	.banner .view {padding-top: 40px;}
	.homehowitworks .item::after {right: 0;}
	#howitworks::before, #whydoohma::after {display: none;}
	header .nav-item {margin-right: 0 !important;}
	header::after {display: none;}
	.banner::after, .aboutsection::after, .advertise::after {display: none;}
	.bannertext {max-width: 100%; text-align: center; margin-left: 0;}
	.bannerbutton p::after {right: -50px;}
	.aboutcontent {max-width: 100%;}
	.aboutcontent .title, .homewhycontent .title{text-align: center;}
	.aboutbio a{text-align: center;}
	.biobtn {margin-top: 0;}
	.biobtn, .aboutbio .text{text-align: center;}
	.advsteps {max-width: 100%;}
	.advcontent .text {text-align:center; margin-bottom: 20px;}
	.whylisting {max-width: 100%;}
	.videosection {text-align: center;}
	.videosection img {max-width: 380px; margin: 0 auto;}
	.videosection .playbtn {top: 192px;left: 502px;}
	.navigate {display: none;}
	.footnav .col-md-6 {flex: 0 0 100%;max-width: 100%;}
	.copyright {text-align: center; float: none;}
	.homehowitworks .item img {max-width: 200px;}
	.advcontent .title {text-align: center;}

}



@media only screen and (max-width: 991px){
	.navbar {background-color: #fff;}
	.consumers{top: 169px; right: 7%;}
	.business{top: 180px;left: 40px;}
	.shoponline {max-width: 600px; margin: 0 auto 20px;}
	.shopinstore img, .shoponline img {max-width: 600px;margin: 0 auto 20px;}
	.shopinstore {background-color: #f99f2c;opacity: 0.8;margin-right: -15px;position: relative;max-width: 600px;margin: 0 auto 20px;}
	.infodetail {margin: 0;}
   	.instabtndiv {max-width: 220px;}
   	.table {width: 1200px;}
}
@media only screen and (max-width: 768px){
	.checkbox1 {right: 0;}
	.billformdetail{margin-top: 20px;}
	.maincontent .form-wizard-wrapper ul li a{font-size: 10px;}
	.completeform {margin: 0 15px 0 15px;}
	.selectcompleteform {margin: 0 15px 0 15px;}
	#modalsigninForm .modal-content {max-height: 600px;overflow-y: scroll;}
	.otherloginbtn {text-align: center;}
	.facebookbtn, .googlebtn {font-size: 10px;margin: 10px 0;}
	.business {top: 150px;}
	.perstore {top: 40%;}
	.peronline{left: 32%;}
	#testimonial .item .card {min-height: 520px;}
	.bannerbutton {margin: 20px 0;}
	.class2 {order: 1;}
  	.class1 {order: 2;}
	.colorcircle {margin: 30px auto;}
	.bannerbutton input {margin: 0 auto 20px;}
	.countdiv {max-width: 320px; margin: 0 auto;}
	#homefaq .faqtitle {font-size: 16px; line-height: 20px;}
	.orange::after, .red::after, .perpal::after, .mendi::after{left: -20px;}
	.progresssection {margin-top: 0;}
	.listing {padding: 10px 0;}
	.Category .listing li{display: inline-block;border-right: 1px solid #000; padding: 0 5px;}
	.homehowitworks {padding-top: 0;}
	.homehowitworks .item::after {display: none;}
	.business {left: 0;}
	.consumers {right: 0;}
	.mapinfo {margin-top: 20px;}
	.locationimage img {max-width: 500px; margin: 0 auto;}
	.locationdiv {text-align: center;}
	.plancard {max-width: 360px; margin: 0 auto 20px; float: none;}
	.planbody {text-align: center;}
	.galleryanddetail {padding: 30px 15px; margin: 0;}
	.project-detail-page .infodetail, .admin-ad-detail .infodetail{padding: 0;}
	.bannertext p br{display: none;}
	.bannertext h1 {font-size: 24px;line-height: 32px;}
	.title h2 {font-size: 20px; padding-bottom: 30px;}
	.banner {height: auto;}
	.bannerbutton p::after {right: 123px;}
	.bannerbutton p {max-width: 100%;}
	.bannertext {text-align: center; margin-left: 0;}
	.aboutsection::after, .banner::after {display: none;}
	.advertise::after {display: none;}
	.whylisting {max-width: 100%;}
	.videosection {text-align: center;}
	.videosection img {width: 100%;height: auto;max-width: 440px;margin: 0 auto;float: none;}
	.videosection .playbtn {left: 387PX;}
	.uploadform {text-align: center;}
	.or {display: none;}
	.submitbar {text-align: center;}
	.canscelbtn {margin-left: 0; margin-top: 15px;}
}
@media only screen and (max-width: 640px) {
.colorsection ul{margin: 0 auto;float: none;text-align: center;max-width: 180px;}
.colorsection li {display: block;width: 100%;position: relative;padding-left: 10px;text-align: left;}
.connectlogo::after {height: 54px;}
.business, .consumers {top: 100px;}
}

@media only screen and (max-width: 600px) {
	.aboutbio {font-size: 16px;}
	.business img, .consumers img, .instore img {max-width: 100px;}
	.business, .consumers {top: 130px;}
	.infodetail {padding: 20px;}
	.testimonial .item .card {max-width: 100%;}
}
@media only screen and (max-width: 520px) {
	.consumers {right: 40px;}
	.business {left: 40px;}
	.footnav {float: none;text-align: center;}
	.place {left: 0;}
	.business {left: -30px;}
	.business img, .consumers img, .instore img {max-width: 80px;}
	.connectlogo img {width: 60px; height: 60px;}
	.connectlogo::after {height: 45px;}
	.business, .consumers {top: 120px; max-width: 200px;}
	.banner {height: auto;}
	.business span, .consumers span, .instore span {font-size: 12px;}
	.mergebar::after {right: -80px;}
	.advertising::after {right: -60px;}
	.progresbaritem {margin-left: 150px;}
	.footcontact {text-align: center;}
	.footlogo {float: none;text-align: center; margin:0 auto; max-width: 120px;}
	.footcontact span {float: none;}
	.bannerbutton p::after {right: 33px;}
	.videosection .playbtn {left: 271PX;top: 225px;}
	.completeform, .billinform {padding: 20px;}
	.plancard .topbtn h4 {padding: 10px 0;}
	.pricediv {margin-top: 40px;}
	.mapbtn button {margin-bottom: 20px;}
}
@media only screen and (max-width: 475px){
.progresbaritem {margin-left: 130px;}
.mergebar::after {right: -80px;top: -7px;}
.advertising::after {right: -40px;top: -166px;}
.mergebar {left: 0;}
.mapicon {left: -30px; right: auto;}
}
@media screen and (min-width: 320px) and (max-width: 475px) {
	#homefaq {padding-bottom: 30px;}
	.perstore, .peronline {position: relative;}
	.perstore {position: relative;top: -160px;left: 0;}
	.peronline {top: -290px; left: 0;}
	#section02 a span {bottom: -40px;}
}

@media only screen and (max-width: 360px){
.mergebar::after {top: -9px;}
.advertising::after {top: -167px;}
.connectlogo::after {height: 35px;}
.business {left: 0;}

}
@media only screen and (max-width: 320px){
.progresbaritem {margin-left: 100px;}
.progresssection {padding: 30px 15px;}
.mergebar::after {right: -30px; top: -10px;}
.advertising::after {right: 0;top: -170px;}
.bannerbutton {margin: 110px auto 20px;max-width: 100%;}
}


/*sidebar responsive css*/

@media screen and (max-width: 1120px) {
  .sidebar-page aside {-webkit-transform: translateX(-100%);transform: translateX(-100%); z-index: 1;}
  .sidebar-page .main {width: 100%;margin-left: 0;}
  .sidebar-page #responsive-nav + label {display: block;}
  .sidebar-page #responsive-nav:checked + label {color: white;background: #16a085;}
  .sidebar-page #responsive-nav:checked ~ aside {-webkit-transform: translateX(0);transform: translateX(0);}
}
@media screen and (max-width: 700px) {
  .sidebar-page aside {width: 100%;}
  .sidebar-page #responsive-nav + label {padding: 22px;font-size: 24px;}
}
.sidebar-page .follow {width: 42px;height: 42px;border-radius: 50px;background: #03A9F4;display: block;margin: 300px auto 0;white-space: nowrap;padding: 13px;box-sizing: border-box;color: white;transition: all 0.2s ease;font-family: Roboto, sans-serif;text-decoration: none;box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);}
.sidebar-page .follow i {margin-right: 20px;transition: margin-right 0.2s ease;}
.sidebar-page .follow:hover {width: 134px;}
.sidebar-page .follow:hover i {margin-right: 10px;}

@media screen and (max-width: 800px) {
  .sidebar-page .follow {margin: 400px auto 0;}
}