/* bosstrap overight css */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {color: #fff;}
.navbar {box-shadow: none;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link, .navbar-dark navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {font-style: normal;font-weight: 600;line-height: 16px; font-family: 'Montserrat'; font-size: 14px; color: #000;text-transform: capitalize;}
.collapse ul li a{transition: transform 0.2s ease-in, opacity 0.2s ease-in, visibilit 0.2s ease-in}
.loginbtn{background: #13C7C5;border-radius: 5px;color: #fff !important;}
.navbar-brand {margin-left: 250px;}
.nav-link.driver {margin-top:-5px;}
.navbar-dark .navbar-toggler-icon{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 106, 92, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");}
footer .navbar-dark .navbar-nav .active > .nav-link, footer .navbar-dark .navbar-nav .nav-link:hover {border-top:none;}
.navbar-toggler {background-color: inherit;}

.footernav .nav-link {font-size: 11px !important;}
/* custom css */
.hmfirstrow img, .hmsecondrow img, .hmthirdrow img {width: 100%; height: auto; max-width:600px;}
.hmsecondrow img {float:left;}
.hmfirstrow img, .hmthirdrow img  {float:right;}
body {font-family: 'Montserrat'; margin:0; padding: 0; background-color: #fff;}
h1 , h2, h3, h4, h5, h6, ul, li, p {margin: 0; padding:0; list-style: none; font-family: 'Montserrat'; color: #000; }
a, a:hover, a:focus {text-decoration: none;}

.container {max-width: 1120px;}
header {position: relative;width: 100%;}
body.home.modal-opan {overflow: hidden;}
.modal-opan .modal {overflow-x: hidden;overflow-y: auto;}
/*home banner css start here*/
.banner {position: relative;height: 700px;}
header::after {position: absolute;top: 0; right:  0; background-image: url('../images/headerbg-shape.png'); background-repeat: no-repeat; background-size: contain; background-position: top  right; width: 100%; height: 670px;content: "";z-index: -1;}
.banner::after {position: absolute;top: 0; right:  0; background-image: url('../images/banner-right-image.png'); background-repeat: no-repeat; background-size: contain; background-position: top  right 120px; width: 100%; height: 800px;content: "";z-index: -1;}
.banner .view {padding-top: 90px;}
.bannertext {width: 100%; max-width: 630px; margin-left: 260px; padding: 0 15px;}
.bannertext h1{font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 44px;line-height: 54px;color: #1D262C;padding-bottom: 70px;}
.bannertext p{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 18px;line-height: 32px;color: #71828A;padding: 25px 0;}
.bannerbutton {display: block; margin-top: 70px;}
.bannerbutton input {display: block;background: #F3F3F3;border: 1px solid #D3D7DF;border-radius: 2px; padding: 10px 15px; margin-bottom: 20px; width: 100%; max-width: 380px;}
.bannerbutton input::placeholder{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px;display: flex;align-items: center;color: #5E6467;}
.doohmabtn, .doohmabtn a{width: 100%; max-width: 180px; background: #EF6A5C;border-radius: 4px; border:none; font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;color: #FFFFFF;padding: 7px 0; text-transform:capitalize; cursor: pointer;}
a.doohmabtn{color: #fff !important;}
.doohmabtn a {background: none;}
.banner .lineimage1 img {position: absolute; bottom: 0; left: 0; animation: 6s ease-out 0s 1 mymove;}
.banner .lineimage2 img {position: absolute; bottom: 0; left: 0; animation: 6s ease-out 0s 1 mymove;}
.banner .lineimage3 img {position: absolute; bottom: 380px; left: 120px; animation: 6s ease-out 0s 1 mymove;}
.banner .lineimage4 img {position: absolute; bottom: 64%; left: 54%; animation: 6s ease-out 0s 1 mymove; z-index: -1;}
.banner .lineimage5 img {position: absolute; bottom: 51%; left: 47.5%; animation: 6s ease-out 0s 1 mymove; z-index: -1;}
.banner .lineimage6 img {position: absolute; bottom: 51%; right:9%; animation: 6s ease-out 0s 1 slideInFromLeft; z-index: -1;}
.banner .lineimage1 img, .banner .lineimage2 img, .banner .lineimage3 img, .banner .lineimage4 img, .banner .lineimage5 img, .banner .lineimage6 img  {z-index: -1;}
@keyframes mymove {
    0% {
    transform: translateY(-100%);;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.offernotes span{font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 25px;line-height: 30px;text-align: center;color: #FFFFFF;}
.offernotes h3{font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 15px;line-height: 18px;text-align: center;color: #FFFFFF;}
.offernotes {width: 90px; height: 90px; background-color: #13c7c5; border-radius: 50%; position: absolute; top:0px; right: -20px;padding: 14px 4px;text-align: center;}
.offers h4 {font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;color: #FFFFFF;}
.offers h3 {font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 44px;line-height: 70px;text-align: center;color: #FFFFFF;}
.offers span{font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;color: #FFFFFF;}
.colorcircle {position: relative;width: 100%; max-width: 250px;margin:0 auto;}
.offers {position: absolute;top: 60px;left: 57px;text-align: center;}

/*home banner css end here*/



@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
.fixed-header #section02 a span {bottom:  -20px; left: 50%;}
section::after {position: absolute;bottom: 0;left: 0;content: '';width: 20px;height:20px;}
#section02 a span {position: absolute;bottom:-20px;left: 50%;width: 24px;height: 24px;margin-left: -12px;border-left: 1px solid #000;border-bottom: 1px solid #000;-webkit-transform: rotateZ(-45deg);transform: rotateZ(-45deg);-webkit-animation: sdb04 1.5s infinite;animation: sdb04 1.5s infinite;box-sizing: border-box;}
/*home channel css start here*/
#channel {padding-top: 180px;}
#channel .title { text-align: center;}
#channel .partners-carousel .item {width: auto;}
#channel .owl-item{width: auto;}
#channel .partners-carousel .item img {width: auto; margin: 0 auto;}

/*home channel css end here*/

/*home about css start here*/
.aboutcontent {margin: 0 auto;}
.aboutcontent .title {text-align: center;}
.aboutsection {position: relative; padding: 100px 0;}
.aboutsection::after {position: absolute;top: 0; right:  0; background-image: url('../images/about-bg-image.png'); background-repeat: no-repeat; background-size: contain; background-position: top  right; width: 100%; height: 800px;content: "";z-index: -1;}
.title span{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 14px;line-height: 17px;color: #424242;}
.title h2 {font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 32px;color: #424242;padding-bottom: 60px;}
.aboutbio {font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 24px;line-height: 45px;text-align: center;color: #5E6467;}
.aboutbio .text {font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 18px;line-height: 32px;color: #13C7C5;}
.biobtn, .howitbtn{display: block; margin-top: 56px;}
.biobtn button, .howitbtn button  {width: 100%; max-width: 160px;}
/*home about css end here*/

/*home doohma connect section css start here*/
.connectlogo::after {position: absolute;top: 36px; right:  0; background-image: url('../images/dot-curve.png'); background-repeat: no-repeat; background-size: contain; background-position:center;content: "";z-index: -1; width: 100%; height: 100%;}
.connectlogo::before {position: absolute;top: 36px; right:  0; background-image: url('../images/dotline-vertical.png'); background-repeat: no-repeat; background-size: contain; background-position:center;content: "";z-index: -1; width: 100%; height: 200px;}
.doohmaconnect {position: relative; padding: 20px 0 70px;}
.doohmaconnect .title{ text-align: center; }
.connectlogo {text-align: center; position: relative;}
.connectlogo img {margin: 0 auto; width: 90px; height: 90px;}
.business img, .consumers img, .instore img {width: 100%; height: auto; display: block;max-width: 320px; margin: 0 auto;}
.business, .consumers, .instore {width: 320px; text-align: center; animation: 6s ease-out 0s 1 mymove; }
.business {position: absolute; top: 130px; left: 10%;}
.consumers {position: absolute; top: 130px; right: 10%;}
.instore{ margin: 0 auto; margin-top: 150px; }
.doohmaconnect::after {position: absolute;top: -300px;left: 0;background-image: url(../images/advertise-bg-image.png);background-repeat: no-repeat;background-size: contain;background-position: top left;width: 100%;height: 1170px;content: "";z-index: -1;}
.homehowitworks .doohmabtn, .homehowitworks .doohmabtn a .doohmaconnect .doohmabtn, .doohmaconnect .doohmabtn a {padding: 7px 0;}
.connectbtn {text-align: center; display: block;width: 100%; margin: 50px 0 20px;z-index: 111;}
.connectbtn button {width: 100%;margin: 0 auto; max-width: 162px;}
/*home doohma connect section css end here*/
.page-section {padding-top: 145px; margin-top: -145px;}
/*home advertise css start here*/
.homewhysection::before {position: absolute;bottom: 388px;left: 0;background-image: url(../images/shape-left.png);background-repeat: no-repeat;background-size: contain;background-position: bottom left;height: 650px;content: "";animation: 6s ease-out 0s 1 whydoohma; -ms-transform-origin: 539px 539px;-webkit-transform-origin: 539px 539px;width: 565px;overflow: hidden;}
.homewhysection {position: relative; padding: 50px 0;}
.viewimgstore {position: relative;z-index: 1;}
.homewhysection::after {position: absolute;top: 0px;right: 0;background-image: url(../images/shape-right.png);background-repeat: no-repeat;background-size: contain;background-position: top right;height: 620px;content: "";animation: 6s ease-out 0s 1 whydoohmaright; -ms-transform-origin: 539px 539px;-webkit-transform-origin: 539px 539px;width: 565px;overflow: hidden;}
@keyframes whydoohma {
    0% {
    transform: translateY(0);;
  }
  10% {
    transform: translateX(-100%);
  }
}
@keyframes whydoohmaright {
    0% {
    transform: translateY(0);;
  }
  10% {
    transform: translateX(100%);
  }
}
.shopinstore img, .shoponline img { width: 100%; height: auto;max-height: 450px;opacity: 0.2 }
.shopinstore {background-color: #f99f2c; opacity: 0.8; margin-right: -15px; position: relative; width: 100%; max-width: 100%;}
.shoponline img {background-color: #000;opacity: 1;max-height: 450px;}
.shoponline  {margin-left: -15px; position: relative; width: 100%; max-width: 100%;}
.perstore, .peronline {position: absolute; top: 30%; left: 30%; text-align: center;}
.perstore span, .peronline span{font-family: 'Montserrat';font-style: normal;font-weight: bold;font-size: 50px;line-height: 61px;text-align: center;color: #FFFFFF;}
.perstore h3, .peronline h3{font-family: 'Montserrat';font-style: normal;font-weight: bold;font-size: 35px;line-height: 43px;text-align: center;color: #FFFFFF;}
#whywho {position: relative;}
.advertise {position: relative; padding: 70px 0;z-index: 1;}
.advsteps {width: 100%; padding-bottom: 45px;}
.homewhysection .title {text-align: center;}
.advcontent {margin-left: 0;}
.countdiv {text-align: center;}
.countdiv span{font-family: 'Montserrat';font-style: normal;font-weight: bold;font-size: 120px;line-height: 146px;text-align: center;color: #EF6A5C;text-shadow: 2px 2px #EF6A5C;}
.countdiv span sup{font-family: 'Montserrat';font-style: normal;font-weight: bold;font-size: 30px;line-height: 37px; top: -60px; left: -30px;color: #EF6A5C;}
.countdiv p{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 18px;line-height: 32px;text-align: center;color: #71828A;}
/*home advertise css end here*/


/*home progress bar section css*/
.Category {text-align: center;}
.Category .listing li{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;text-align: center;color: #424242;}
.mediabar h2, .Category h2{font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 18px;line-height: 32px;text-align: center;color: #424242;}
.progresssection {background: #fff;padding: 30px 50px;position: relative;margin-top: 100px;z-index: 111;}
.mergebar {display: inline-block;position: absolute;top: 90px;left: 10px;}
.advertising{display: inline-block;position: absolute;top: 250px;left: 0;text-align: center;}
.mergebar::after {position: absolute;top: -40px;right: -170px;background-image: url(../images/merge.png);background-repeat: no-repeat;background-size: contain;background-position: top right;width: 100%;height: 310px;content: "";}
.advertising::after {position: absolute;top: -200px;right: -150px;background-image: url(../images/advertising.png);background-repeat: no-repeat;background-size: contain;background-position: top right;width: 100%;height: 242px;content: "";}
.progresbaritem{display: inline-block; margin-left: 250px;}
.progress {width: 100px;height: 45px;position: relative;margin: 20px 0;text-align: center;background: #fa981b;}
.place {display: inline-block;position: absolute;top: 118px;left: 140px;}
.progress:nth-child(1) {background: #fa981b;}
.progress:nth-child(2) {background: #ef6a5c;}
.progress:nth-child(3) {background: #13c7c5;}
.progress:nth-child(4) {background: #a5ab5f;}
.progress:nth-child(5) {background: #707070;}
.progress:nth-child(6) {background: #c4c4c4;}
.progress .incomplete {position: absolute;width: 20%;float: right;background-color: white !important;top: 0px;right: 0px;height: 45px;}
.progress span {color: black;opacity: .5;font-size: .8rem;position:absolute;right: 0;top: 10px;}
.colorsection  {text-align: center;}
.colorsection li{display: inline-block; width: 24.33%; position: relative; padding-left: 20px;}
.colorsection li:last-child {margin-right: 0;}
.orange, .red, .perpal, .mendi {position: relative;}
.orange::after {position: absolute;content: "";width: 20px;height: 20px;background: #fa981b; top: 1px;left:0;}
.red::after {position: absolute;content: "";width: 20px;height: 20px;background: #ef6a5c; top: 1px;left:0;}
.perpal::after {position: absolute;content: "";width: 20px;height: 20px;background: #13c7c5; top: 1px;left:0;}
.mendi::after {position: absolute;content: "";width: 20px;height: 20px;background: #a5ab5f; top: 1px;left:0;}
#whydoohma {position: relative; }
#whydoohma::after {position: absolute;bottom: -300px;left: 0px;background-image: url(../images/how-top-curve.png);background-repeat: no-repeat;background-size: cover;background-position: bottom left;width: 100%;height: 100%;content: "";z-index: -1;}
/*start home bio section css start here*/

.whylisting {width: 100%; max-width: 580px;}
.whylisting li{padding-bottom: 40px;font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 18px;line-height: 32px;text-align: left;color: #71828A;}
/*start home bio section css end here*/

/*start home how it works section here*/
.homehowitworks .item span {font-style: normal;font-weight: 500;font-size: 80px;line-height: 30px;text-align: center;color: rgba(0, 0, 0, 0.08); display: block;}
.homehowitworks .item {position: relative;}
.homehowitworks .item::after {position: absolute;top: 90px;right: -30px;background-image: url(../images/how-it-sign.png);background-repeat: no-repeat;background-size: contain;background-position: top right;width: 40px;height: 40px;content: "";}
.homehowitworks .item.last::after  {background-image: inherit;}
#howitworks {position: relative;}
#howitworks::before {position: absolute;top:-420px;left: 0px;background-image: url(../images/whyseccurve.png);background-repeat: no-repeat;background-size: cover;background-position: bottom left;width: 100%;height: 100%;content: "";}
.homehowitworks .item {text-align: center;}
.homehowitworks .item p{padding-top: 40px;}
.homehowitworks .title, #testimonial .title {text-align: center;}
.homehowitworks .item img{width: 100%; height: auto; max-width: 200px;}
.howitbtn {text-align: center;}
#testimonial {padding-bottom: 100px;}
/*home testimonial section css start here*/
.owl-dots {text-align: center; margin-top: 50px;}
.owl-carousel button.owl-dot.active{background: #ef6a5c;}
.owl-carousel button.owl-dot {background: #ccc;color: #ccc;width: 10px;height: 10px;border-radius: 50%; margin-right: 6px;}
#testimonial .container {max-width: 1590px;}
#testimonial {padding: 170px 0;}
#testimonial  .item {padding: 10px;}
#testimonial .testbgdiv{position: relative; padding: 70px 0;}
#testimonial .testbgdiv::after {position: absolute;top: 0;left: 0;background-image: url(../images/testimonial-bg.png);background-repeat: no-repeat;background-size: contain;background-position: top left;width: 100%;height: 600px;content: "";z-index: -1;}
#testimonial .item .card img{ width: 56px; height: 45px;margin:0 auto 20px; }
#testimonial .item .card {padding: 20px 25px 10px; width: 100%; max-width: 420px; min-height: 480px; margin: 0 auto;}
.card:hover {box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);}
#testimonial .item .card p{font-family: 'Montserrat';font-style: normal;font-weight: bold;font-size: 17.5px;line-height: 35px;text-align: center;color: #242F40;}
#testimonial .testprofileinfo h3{font-family: 'Montserrat';font-style: normal;font-weight: bold;font-size: 20px;line-height: 30px;text-align: center;color: #EF6A5C;}
#testimonial .testprofileinfo {text-align: center; margin: 40px 0;}
#testimonial .testprofileinfo span{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 17.5px;line-height: 30px;text-align: center;color: #71828A;}
#testimonial .webmail a{font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 17.5px;line-height: 30px;text-align: center;color: #13C7C5; text-decoration: none;}
#testimonial .webmail {text-align: center;}
#testimonial .carousel-indicators {bottom: -80px;}
#testimonial .carousel-indicators li{background-color: #ccc; width: 10px; height: 10px; border-radius: 50%; cursor: pointer;}
#testimonial .carousel-indicators .active {background-color: #ef6c5f;}


/*home faq section css start here*/
#homefaq .title {text-align: center;}
#homefaq .faqtitle {font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 22px;line-height: 27px;color: #13C7C5;}
#homefaq .answer {font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 18px;line-height: 26px;color: #606470;}
#homefaq {background-color: #F2FFFF; padding-bottom: 70px;}
#faq_nav ul {padding: 1rem 1rem;}
#faq_nav li {text-align: right;}
#faq_nav a {background-color: #D6E8EA;background-color: ;color: #323031;border-right: 0.25rem solid rgba(8, 76, 97, 0.33);;display: block;padding: 0.5rem 1rem;margin: 1rem 0;font-size: 1.23rem;text-decoration: none;}
#faq_nav a:hover {text-decoration: underline;background-color: #BFDBDE;}
#faq_nav ul, .faq_sections ul {list-style: none;}
#faq_nav, .faq_sections {margin-top: 1rem;}
.faq_sections li {overflow: hidden; border-bottom: 1px solid #e0eaea;padding: 20px 0;}
.faq_sections li div:first-of-type {background-color: inherit;padding: 1rem 1rem 0 0;display: flex;flex-direction: row;justify-content: space-between;cursor: pointer;}
.faq_sections li div:first-of-type:hover {background-color: inherit;}
.faq_sections li div:first-of-type p {padding-right: 0.5rem; /* space it from the arrow */}
.faq_sections li div:last-of-type {border: none;max-height: 0;padding: 0rem;transition: max-height 200ms ease-in-out;}
.faq_sections li div:last-of-type p {display: none;}
.faq_sections li div {padding: 0.5rem;}
.faq_sections li div:first-of-type span {transition: 200ms linear;height: 1.1rem;width:auto;}
.faq_sections li div:first-of-type span img {width: 100%; height: auto; z-index: -1;max-width: 10px;}
/* active FAQ */
.faq_sections li.active div:last-of-type {border-top: none;max-height: 1000px;padding: 1rem 1rem 0 0;}
.faq_sections li.active div:last-of-type p {display: block;}
.faq_sections li.active div:first-of-type span {transform: rotate(180deg) scale(1.66) translate(-25%, -25%);}
.btn-wrapper {text-align: center;}
.back-to-top-btn {display: inline-block;font-size: 0.6rem;margin: 1rem auto 0;margin-left: auto;text-decoration: none;color: #323031;padding: 0.5rem 1rem;background: #D6E8EA;}
.back-to-top-btn:hover {background-color: #BFDBDE;}
/* tablet styles */
@media screen and (min-width: 678px) {
#homefaq .container {width: 91%;margin: 2rem auto;}
#faq_nav ul {display: flex;padding: 0;}
#faq_nav li {display: inline-block;}
#faq_nav li {padding: 0 0.5rem;}
#faq_nav li:first-of-type {padding-left: 0;}
#faq_nav a {border-right: 0.25rem solid rgba(8, 76, 97, 0.33);;display: block;padding: 0.5rem 1rem;margin: 1rem 0;}
}
/* laptop styles */
@media screen and (min-width: 1023px) {
#homefaq .container {width: 81%;}
}
/* desktop styles */
@media screen and (min-width: 1239px) {
#homefaq .container {width: 72%;}
}
/* large screen styles */
@media screen and (min-width: 1439px) {
#homefaq .container {width: 62%;}
}



/*footer css start here*/
iframe {width: 100%;}
.footsocial li{display: inline-block;margin-right: 25px; font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 28px;line-height: 34px;color: #424242;}
.footcontact span {float: left; font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 28px;line-height: 34px;color: #424242;}
.footsocial li a {color: #424242;}
.footsocial li:last-child {margin-right: 0;}
.footlogo {float: right;}
.footlogo a{font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 28px;line-height: 34px;text-align: right;color: #424242;}
.footmail a{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 18px;line-height: 22px;letter-spacing: 1.16667px;text-transform: lowercase;color: #424242;}
.footnav .navbar {padding: 0; display: none;}
.footnav {padding-top: 20px;}
.footnav .nav-item{margin-right: 15px;}
.footnav .nav-link:first-child {padding-left: 0;}
.footnav .nav-item:last-child {margin-right: 0;}
.footsocial {display: inline-block;padding-bottom: 18px;}
.footcontact{padding: 0px 0 30px;}
.footmail {display: inline-block;}
.copyright {font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 18px;line-height: 22px;letter-spacing: 1.33333px;color: #424242; float: right;}
.footnav {padding-top: 20px;display: inline-block;float: right;padding: 0;}
footer {padding: 70px 0 0; position: relative;}
/*footer css end here*/

/*fixed headr logo css*/
.fixed-header .navbar-nav .active > .nav-link, .fixed-header .navbar-nav .nav-link, .fixed-header .navbar-nav .nav-link:focus, .fixed-header .navbar-nav .nav-link:hover{color: #000 !important;}
header .fixed-header {position:fixed; top:0; left:0; width:100%; background:#fff;border:1px solid #E4E4E4; padding: 20px 15px;z-index: 999;}
.fixed-header .mainlogo {display:none;}
.fixedlogo {display:none;}
.fixediv.appicon {display:none; background:#000; }
.fixediv.appicon .nav-item {margin-top: 0 !important}
.fixed-header .fixediv.appicon {display:block; padding:28px 40px;}
.fixed-header .fixedlogo {display:block;}
img.fixedlogo {width:150px; height:auto;}
.fixediv li {display: inline-block;margin-left: 20px !important;margin-right: 0 !important;padding: 6px 0;}
.fixed-header .fixediv li{margin-top:0 !important; margin-right:40px !important; margin-left:0 !important;}
header .nav-item {margin-right:20px !important;}
header .nav-item:nth-child(6) {margin-right:30px !important;}
.fixed-header .fixediv li:last-child {margin-right:0 !important;}
.fixed-header li.nav-item {vertical-align: middle;}
.nav-link{position: relative;}
/*.nav-item.active .nav-link:after {content: '';display: block;position: relative;width: auto;border: 2px solid #ef6a5c;margin-top: 8px; }*/
header .nav-item:last-child.active .nav-link::before {background: inherit;}
/*.fixed-header .nav-item.active .nav-link:after {content: '';display: block;position: relative;width: auto;border: 2px solid #ef6a5c;margin-top: 8px; }*/
/*.navbar-dark .navbar-nav .nav-link.active .nav-link:after {content: '';display: block;position: relative;width: auto;border: 2px solid #ef6a5c;margin-top: 8px; }*/
.navbar-dark .navbar-nav .nav-link.active {color: #1D262C;}
.footnav .nav-item.active::before {background:inherit;}
.nav-item {position:relative;}
header .nav-item.active::before { transition: width .3s;}
img.mainlogo {width:150px;}
.navbar {padding: 20px 15px;}
/*fixed headr logo css end*/

/*pop up css*/
.modal-dialog .md-form{margin-bottom: 20px !important}
.md-form p{font-size: 10px; line-height: 18px;font-family: 'Montserrat'; color: #13c7c5;}
.googlebtn {background: #F14336;border-radius: 4px;}
.sitelogo {margin: 30px auto 0; text-align: center;}
#modalsigninForm .sitelogo {margin: 30px auto 30px;}
.external, .forgotpass, .formtext {text-align: center;}
.external p{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 12px;line-height: 20px;align-items: center;text-transform: uppercase;color: #E74425;}
.forgotpass a{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 14px;line-height: 20px;align-items: center;color: #E74325;}
.formtext p{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 14px;line-height: 20px;align-items: center;text-align: center;color: #71828A;}
.formtext p a{color: #30cecc;}
.poploginbtn {text-align: center;}
.otherloginbtn {padding: 30px 0 20px;}
.external {padding-bottom: 20px;}
.poploginbtn {padding:10px 0 20px;}
.forgotpass {padding-bottom: 42px;}
.modal-header button.close {margin-left: 0;}
.modal-body label {font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #424242;}
.facebookbtn{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 12px;line-height: 20px;align-items: center;letter-spacing: 0.5px;color: #FFFFFF;background: #3B5998;border-radius: 4px;width: 220px;}
.googlebtn {font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 12px;line-height: 20px;align-items: center;letter-spacing: 0.5px;color: #FFFFFF;border-radius: 4px;width: 220px;}
.facebookbtn .fab, .googlebtn .fab {padding: 0 8px;}
.modal-header .close {position: absolute; top: 10px; right: 20px;}
.modal-header {position: relative;}
.external {position: relative;}
.external p::after {position: absolute;top: 9px;left: 130px;background-image: url(../images/popup-line.png);background-repeat: no-repeat;background-size: contain;background-position: top left;width: 48px;height: 1px;content: "";z-index: 1;background: #D3D7DF;}
.external p::before {position: absolute;top: 9px;right:130px;background-image: url(../images/popup-line.png);background-repeat: no-repeat;background-size: contain;background-position: top right;width: 48px;height: 1px;content: "";z-index: 1;background: #D3D7DF;}
.modal-body .form-control{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px;align-items: center;color: #71828A; background: #FFFFFF;border: 1px solid #D3D7DF;border-radius: 2px; padding-left: 12px;}
.sitelogo p{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px;text-align: center;color: #898D93; padding-top: 15px;}
.modal-content .modal-body {padding: 0px 0px 24px;}
.modal-body .form-control::placeholder {font-size: 12px; line-height: 18px;}

/*sidebar css strat here*/
.sidebar-page .maincontent h1 {display: inline-block;}
.sidebar-page .creatbtnhead {display: inline-block;width: 100%;float: right;max-width: 120px;}
.sidebar-page .creatbtnhead .creatad {margin-top: 0;background-color: #EF6A5C; color: #fff;}
.sidebar-page .logo-area img, .bussiness-listing .logo-area img{width: 100%;height: auto;max-width: 160px;margin: 0 auto;}
.sidebar-page aside nav {padding-top: 50px;}
.sidebar-page #responsive-nav {display: none;}
.sidebar-page #responsive-nav + label {display: none;position: fixed;top: 0;left: 0;padding: 16px;font-size: 20px;background: white;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);cursor: pointer;z-index: 3;transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);}
.sidebar-page aside {position: fixed;transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);background: white;width: 260px;height: 100%;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
.sidebar-page .logo-area {width: 100%;height: 70px;border-bottom: solid 1px #ebebeb;display: flex;align-items: center;justify-content: center;color: #525252;}
.sidebar-page nav {width: 100%;height: 100%;}
.sidebar-page nav > a, nav label {padding: 20px 24px;}
.sidebar-page nav a, nav label {width: 100%;display: block;text-decoration: none;color: #525252;cursor: pointer;font-weight: 500;transition: none;}
.sidebar-page nav a:hover, nav label:hover {background: #ebebeb;}
.sidebar-page nav label:before, nav label:after {content: '';float: right;width: 2px;height: 7px;background: #9e9e9e;-webkit-transform-origin: 0 0;transform-origin: 0 0;margin-top: 4px;transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);}
.sidebar-page nav label:before {-webkit-transform: rotate(50deg);transform: rotate(50deg);}
.sidebar-page nav label:after {-webkit-transform: rotate(-50deg) translate(-6px, 1px);transform: rotate(-50deg) translate(-6px, 1px);}
.sidebar-page .wrap {-webkit-transform: scaleY(0);transform: scaleY(0);-webkit-transform-origin: 0 0;transform-origin: 0 0;transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);}
.sidebar-page .wrap a {padding: 0 24px 0 34px;height: 0;font-weight: 400;transition: height 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);display: flex;align-items: center;}
.sidebar-page input[id^="nav-collapsible"] {display: none;}
.sidebar-page input[id^="nav-collapsible"]:checked + label {transition: background 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);background: #ebebeb;}
.sidebar-page input[id^="nav-collapsible"]:checked + label:before {-webkit-transform: rotate(-230deg) translate(5px, -5px);transform: rotate(-230deg) translate(5px, -5px);}
.sidebar-page input[id^="nav-collapsible"]:checked + label:after {-webkit-transform: rotate(50deg) translate(5px, -2px);transform: rotate(50deg) translate(5px, -2px);}
.sidebar-page input[id^="nav-collapsible"]:checked ~ .wrap {height: auto;-webkit-transform: scaleY(1);transform: scaleY(1);}
.sidebar-page input[id^="nav-collapsible"]:checked ~ .wrap a {height: 54px;}
.sidebar-page .main {width: calc(100% - 260px);margin-left: 260px;height: 100%;}
.sidebar-page a.active {font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 16px;color: #EF6A5C !important;}
aside nav .fas{margin-right: 8px;}
.sidebar-page a{font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 16px;color: #A9AEBE;}
.sidebar-page .listing img, .sidebar-page .logout img {margin-right: 15px;}
.profilediv {display: inline-block;position: absolute;top: 7px;right: 20px;float: right;}
.profileinfo {display: inline-block; margin-right: 100px;float: right; text-align: right;}
.maintopbar .name, .maintopbar .email {display: block;}
.maintopbar{height: 70px; background: #FFFFFF;box-shadow: -1px 0px 0px #E6E9F5, 0px 1px 0px #E6E9F5; width: 100%;padding: 15px 15px;}
.profilediv a{cursor: pointer;}
.maintopbar .email a{font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 13px;line-height: 16px;color: #C4CDD5;}
.maintopbar .name{font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 13px;line-height: 16px;color: #454F5B;}
.congcontent.fix img { margin: 0 auto;text-align: center;max-width: 90px;width: 100%;float: none;}
.congcontentdiv img {width: 100%; height: auto; max-width: }
.congratsdiv img{position: relative;}
.congcontentdiv {width: 100%; position: relative; text-align: center;}
.congcontent.fix {position: absolute; top: 20px; left: 100px;}
.congcontentdiv span{display: block; font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 28px;line-height: 34px;color: #FFFFFF;padding: 15px 0 40px;}
.congcontentdiv p{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 16px;line-height: 20px;color: #FFFFFF;}
.maincontent {position: relative;padding: 15px;}
.flexbox-container {display: flex;align-items: center;justify-content: center;height: auto;margin: 0;min-height: 550px;}
.flexbox-item {max-width: 100%;}
.fixed {flex: none;max-width: 100%;}
.sidebar-page, .payment-page {background-color: #f4f6f9;}
.creatad {max-width: 120px;font-family: 'Montserrat'; font-style: normal;font-weight: 600;font-size: 14px !important;line-height: 17px;color: #EF6A5C;width: 100%;background-color: #fff; border:none; padding: 10px 5px; cursor: pointer; margin-top: 20px;}
.creatad img {width: 100% !important; height: auto; max-width: 20px !important; margin-right: 5px !important;}

/*sidebar-page css end here*/
.instabtndiv .instabtn {background: linear-gradient(80.4deg, #E09B3D 2%, #C74C4D 32.07%, #C21975 73.86%, #7024C4 98.19%);border-radius: 4px;width: 100%;max-width: 320px;display: inline-block;border: none;padding: 10px;color: #fff; cursor: pointer;}
.instabtndiv {display: inline-block;max-width: 330px;width: 100%;}
.or {display: inline-block;font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 12px;line-height: 15px;color: #424242; text-transform: capitalize; margin: 0 30px;}
.infodetail {background: #FFFFFF;box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.08);max-width: 900px;width: 100%;margin:40px 0 40px 40px;padding: 60px;}
.infodetail p{  font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 14px;line-height: 17px;color: #424242; padding-bottom: 50px;}
.infodetail label{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #424242;}
.infodetail .form-control::placeholder {font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 16px;line-height: 20px;color: #71828A;}
.infodetail .form-control {font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px;background: #FFFFFF;border: 1px solid #D3D7DF;border-radius: 2px;padding-left: 12px;}
.uploadform {border: 1px dashed #313131;box-sizing: border-box;border-radius: 2px; padding: 20px;}
.uploadform  span{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 12px;line-height: 15px;color: #424242; padding: 8px 0;}
.uploadform p {padding-bottom: 0;}
.submitbar {padding-top: 40px;}
/*.submitbar .doohmabtn {background-color: inherit;color: #000;}*/
.submitbar .doohmabtn.active, .canscelbtn.active{width: 100%;max-width: 240px;background: #EF6A5C;border-radius: 4px;border: none;font-family: Montserrat SemiBold;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;color: #FFFFFF;padding: 15px 0;text-transform: capitalize;cursor: pointer;}
.canscelbtn.active {max-width: 100px;}
.canscelbtn {background-color: inherit; border:none; margin-left: 40px; cursor: pointer;}


/*table page css start here*/
.datatable tbody {background-color: #fff;}
.viewbtn {border: 1px solid #13C7C5;box-sizing: border-box;border-radius: 4px; background-color: inherit;font-family: Montserrat SemiBold;font-style: normal;font-weight: 600;font-size: 12px;line-height: 15px;text-align: center;color: #13C7C5; cursor: pointer; padding:5px 20px; }
.datatable td{font-family: 'Montserrat';font-style: normal;font-size: 15px;line-height: 18px;color: #424242;}
.datatable th {font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 15px;line-height: 18px;color: #71828A;}
.tablepagination {text-align: center;}
.tablepagination nav {text-align: center;}
.tablepagination .pagination {max-width: 300px; margin: 0 auto; float: none;}
.tablepagination .page-item.active .page-link {background-color: inherit;border-color: #ef6a5c;color: #000; border-radius: 0;}
.page-item.active {border: 1px solid #52575A;}
.page-link {border-radius: 0 !important;color:#52575A !important;}
.page-link:focus, .page-link:hover {background-color: #ef6a5c !important;border-color: #ef6a5c !important; color: #fff !important;}
.tablepagination {background: #fff;position: relative;}
.tablepagination .left-arrow {position: absolute;left: 0;top: 5px;width: 50px;height: auto; border: 1px solid #52575A;}
.tablepagination .right-arrow {position: absolute;right: 0;top: 5px;width: 50px;height: auto; border: 1px solid #52575A;}
.page-link.right-arrow:focus, .page-link.right-arrow:hover, .page-link.left-arrow:focus, .page-link.left-arrow:hover{ background-color: inherit !important; }
.tablepage, .billing-details {background-color: #f4f6f9;}
.table { border-collapse: collapse;border-spacing: 0;width: 100%;}

/*billing page css start here*/
.maincontent  h1{font-family: Montserrat;font-style: normal;font-weight: bold;font-size: 16px;line-height: 20px;letter-spacing: 0.7px;text-transform: capitalize;color: #1B253A; padding-bottom: 50px;}
.maincontent  h1 a{font-family: Montserrat;font-style: normal;font-weight: bold;font-size: 16px;line-height: 20px;letter-spacing: 0.7px;text-transform: capitalize;color: #1B253A; padding-bottom: 50px;}
.maincontent  h1 img{margin-right: 8px; line-height: 10px; padding-bottom: 3px;}
.billformdetail .col-25 {-ms-flex: 25%;flex: 25%;}
.billformdetail span.price {float: right;color: grey;}
.billformdetail {background: #FFFFFF;box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.08);}
.completeform{background: #EF6A5C;box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.08); padding:50px; }
.selectcompleteform {background: #EF6A5C;box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.08);}
.billinform {padding: 50px;}
.billinform .form-control, .selectbillinform .form-control{font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px;align-items: center;color: #71828A; background: #FFFFFF;border: 1px solid #D3D7DF;border-radius: 2px; padding-left: 12px;}
.selectbillinform {padding: 30px 50px;}
.billinform label, .selectbillinform label {font-family: Montserrat Medium;font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #424242;}
.billinform .custom-select {font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px;align-items: center;color: #71828A; background: #FFFFFF;padding-left: 12px;}
.billpay {max-width: 680px;width: 100%;}
.billpay p{font-family: Montserrat Medium;font-style: normal;font-weight: 600;font-size: 16px;line-height: 17px;color: #424242; padding-bottom: 50px;}
.selectedbillpay p{font-family: Montserrat Medium;font-style: normal;font-weight: 600;font-size: 16px;line-height: 17px;color: #424242; padding-bottom: 50px;}
.selectdetail h4 {font-family: Montserrat Medium;font-style: normal;font-weight: 500;font-size: 14px;line-height: 17px;color: #FFFFFF; padding-bottom: 50px;}
.selectdetail p {padding-bottom: 15px;}
.selectdetail p a, .selectdetail span.price{font-family: Montserrat Medium;font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #FFFFFF;}
.paymentbtn {text-align: center;}
.paymentbtn button {background: #FFFFFF;border-radius: 4px;font-family: Montserrat SemiBold;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;text-align: center;color: #EF6A5C; max-width: 100%;}
.billform {margin:0 20px;}


/*payment page css start here*/
.banking, .creditcard {display: inline-block;}
.creditcard{background: rgba(201, 201, 201, 0.158967);border-radius: 5px; padding: 10px 10px 10px 10px;}
.paymentopt {background: #FFFFFF;box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.08); padding: 50px; max-width: 700px; width: 100%;}
.paymentopt h3 {font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 14px;line-height: 17px;color: #424242;padding-bottom: 50px;}
.optionselect {padding-bottom: 50px;}
label.form-check-label{font-style: normal;font-weight: 600;font-size: 16px;line-height: 22px;color: #1B2125;padding-left: 10px;}
.creditcard img {margin-left: 40px;}
.paymentform label{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #424242;}
.paymentform .form-control{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px;align-items: center;color: #71828A; background: #FFFFFF;border: 1px solid #D3D7DF;border-radius: 2px; padding-left: 12px;}
.optionselect2 .creditcard {background-color: inherit;}
.optionselect2 h4 {font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #424242; display: inline-block;}
.optionselect .container, .optionselect2 .container {display: inline-block; position: relative; padding-left: 30px; line-height: 30px; margin: 0;}
/* Hide the browser's default radio button */
.optionselect .container input, .optionselect2 .container input {position: absolute;opacity: 0;cursor: pointer;}
/* Create a custom radio button */
.optionselect .checkmark, .optionselect2 .checkmark {position: absolute;top: 0;left: 0;height: 26px;width: 26px;background-color: #fff;border-radius: 50%; border: 2px solid #000;}
/* On mouse-over, add a grey background color */
.optionselect .container:hover input ~ .checkmark , .optionselect2 .container:hover input ~ .checkmark {background-color: #ccc;}
/* When the radio button is checked, add a blue background */
.optionselect .container input:checked ~ .checkmark, .optionselect2 .container input:checked ~ .checkmark { background-color: #fff; border: 2px solid #000;}
/* Create the indicator (the dot/circle - hidden when not checked) */
.optionselect .checkmark:after, .optionselect2 .checkmark:after {content: "";position: absolute;display: none;}
/* Show the indicator (dot/circle) when checked */
.optionselect .container input:checked ~ .checkmark:after, .optionselect2 .container input:checked ~ .checkmark:after {display: block;}
/* Style the indicator (dot/circle) */
.optionselect .container .checkmark:after, .optionselect2 .container .checkmark:after {top: 3px;left: 3px;width: 16px;height: 16px;border-radius: 50%;background: #000;}
.cardimg {position: absolute;top: 42px;right: 30px;}

/*project detail page css start here*/
.project-detail-page .infodetail .form-control {background: #f9f9f9;mix-blend-mode: normal;border: 1px solid #B1B1B1;box-sizing: border-box;border-radius: 2px;}
.project-detail-page .infodetail .form-control::placeholder {font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 16px;line-height: 20px;color: #424242; line-height: 20px;}
.imgitem {flex: 100%;max-width: 100%;}
.fa-angle-right {right: -20px;position: absolute; color: #424242; font-size: 16px;}
.fa-angle-left{position: absolute;left: -20px; color: #424242; font-size: 16px;}
.project-detail-page {background-color: #f4f6f9;}
.galleryanddetail {background: #FFFFFF;box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.08);max-width: 100%;margin: 0 30px 40px 40px;padding: 60px;}
.project-detail-page .infodetail, .admin-ad-detail .infodetail {background: #FFFFFF;box-shadow: none;max-width: 900px;width: 100%;margin: 0;padding: 0;}
body.modal-open {overflow: hidden;}

/*admin login css start here*/
.adminlogin .form-control {font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px;align-items: center;color: #71828A;background: #FFFFFF;border: 1px solid #D3D7DF;border-radius: 2px;padding-left: 12px;}
.adminlogin label {font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;color: #424242;}
.adminlogin .sitelogo {margin: 0 auto 40px;}
.adminlogin {max-width: 420px;width: 100%;margin: 0 auto;padding: 20px;background: #FFFFFF;box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.08);}
.adminlogin .poploginbtn {padding: 30px 0 0;}
/*admin Campaign page css start here*/
.Requested {color: #424242 !important;}
.Approved {color: #20E500 !important;}
.Rejected {color: #FF0000 !important;}
.Review {color: #FF8A01 !important;}
.Broadcasting {color: #13C7C5 !important;}
.pending{color: #737373 !important;}
.approved {color: #20E500 !important;}
.rejected {color: #FF0000 !important;}
.admin .flexbox-container{min-height: 800px;}



/*bussiness-listing page css start here*/
.bussinessdiv .title h1{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 44px;line-height: 54px;text-align: center;color: #424242;padding: 20px 0;}
.bussinessdiv .title p{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 18px;line-height: 32px;text-align: center;color: #71828A;}
.bussinessdiv .frame img {width: 100%; height: auto; max-width: 512px;}
.bussiness-listing .logo-area {display: inline-block;}
.optiondiv ul li{display: inline-block; margin:0 20px 20px 0;}
.optiondiv ul li:last-child {margin-right: 0;}
.optiondiv ul li button{display: inline-block; background: #FFFFFF;border: 1px solid #13C7C5;border-radius: 4px;font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;color: #13C7C5; cursor: pointer; padding: 15px 20px;}
.bussinessdiv {text-align: center;padding: 40px 0;}
.optiondiv ul{display: inline-block; width: 100%;}
.optiondiv {display: inline-block; padding: 30px 0;}
.other {width: 100%;max-width:600px;margin: 0 auto; padding-bottom: 20px;}
.other .form-control {font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px;align-items: center;color: #71828A;background: #FFFFFF;border: 1px solid #D3D7DF;border-radius: 2px;padding-left: 12px;}
.optiondiv ul li .other{color: #fff; background-color: #13C7C5;}

/*budget page css start here*/
.budget-page, .location-page {background-color: #f4f6f9; }
.plancard {width: 100%; padding: 0 20px 30px; text-align: center; display: inline-block; vertical-align: top;margin-right: 30px; min-height: 440px;}
.plancard:last-child{margin-right: 0;}
.plancard h2{font-family: 'Montserrat';font-style: normal;font-weight: bold;font-size: 16px;line-height: 25px;text-align: center;color: #242F40;}
.plancard form {width: 300px;margin: 0 auto;text-align: center; position: relative;}
.plancard .value-button {display: inline-block;magin: 0px;width: 30px;height: 30px;text-align: center;vertical-align: middle;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; font-size: 32px;line-height: 29px; color: #fff;}
.plansdiv li, .maplist li{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 14px;line-height: 30px;color: #5B6B82;}
.plansdiv li img {margin-right: 15px;}
.plancard {position: relative;}
.plancard .topbtn{position: relative;}
.plancard .topbtn img {position: absolute; top: 0; left:0; width: 100%; height: auto;}
.plancard .topbtn h4{ color: #fff; padding: 30px 0; position: relative;z-index: 1;}
.plansdiv {padding: 40px 0;}
.pricediv {margin-top: 30px;}
.pricediv h3, .pricediv span{font-family: 'Montserrat';font-style: normal;font-weight: bold;font-size: 60px;line-height: 73px;text-align: center;color: #242F40;}
.pricediv sub{font-size: 16px}
.pricediv .fas {margin-right: 6px;}
.pricediv span {font-size: 12px;}
.plancard:nth-child(odd){min-height: 560px;}
.plancard .getintouch h3 {font-size: 22px; color:#ef6a5c; }
.plancard .getintouch {padding: 50px 0;}
.mailcontact {padding: 20px;}
.plancard .mailcontact h3, .plancard .phonecontact h3{ font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 16px;line-height: 30px;text-align: center;color: #5B6B82; text-transform: capitalize;}
.plancard .mailcontact span, .plancard .phonecontact span {font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 16px;line-height: 30px;text-align: center;color: #13C7C5;}
.location {padding: 50px 0;}
.mapinfo h2 {padding: 0 0 15px;}
.mapinfo span {padding: 6px 0;}
.plansdiv ul {text-align: left;}
.plansdiv li{position: relative; margin-left: 20px;}
.plansdiv li::before{position: absolute; content: ''; background-image: url(../images/plan-icon.png); top: 8px; left: -24px; width: 16px; height: 17px;background-repeat: no-repeat;}
.plancard p{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 16px;line-height: 25px;text-align: center;color: #242F40;}
.planbody {background-color: #fff; padding: 30px; width: 100%; max-width: 1260px; margin: 0 auto;}
.confirmbtn {margin: 20px 0;text-align: center;max-width: 720px;}
.checkbox {position: absolute;top: 5px;left: 10px;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {background-color: #ef6a5c;}
.broadcastbtn button {font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;text-align: center;color: #13C7C5;background: #FFFFFF;border: 1px solid #13C7C5;border-radius: 4px; padding: 15px 20px;}
.broadcastbtn {text-align: center;}
.broadtogglebtn {display: none;}
.broadtogglebtn .switch {position: relative;display: inline-block;width: 60px;height: 34px;}
.broadtogglebtn .switch input {opacity: 0;width: 0;height: 0;}
.broadtogglebtn .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.broadtogglebtn .slider:before {position: absolute;content: "";height: 26px;width: 26px;left: 4px;bottom: 4px; background-color: white;-webkit-transition: .4s;transition: .4s;}
.broadtogglebtn input:checked + .slider {background-color: #13c7c5;}
.broadtogglebtn input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
.broadtogglebtn input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
/* Rounded sliders */
.broadtogglebtn .slider.round {border-radius: 34px;}
.broadtogglebtn .slider.round:before {border-radius: 50%;}
.broadtogglebtn h3{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 16px;line-height: 36px;color: #424242;}
.broadtogglebtn input:checked + h3.left {color: #ef6a5c;}
.broadtogglebtn h3.right {position: absolute;right: -50px;top: 0;}
.broadtogglebtn h3.left {position: absolute;left: -50px;top: 0;}
.broadtogglebtn {text-align: center;}

.fileattached .file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.fileattached .file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.fileattached .file-upload .file-select .file-select-button{background:#15c8c6;padding:0 10px;display:inline-block;height:40px;line-height:40px;color: #fff;font-family: 'Montserrat';}
.fileattached .file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.fileattached .file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.fileattached .file-upload .file-select:hover .file-select-button{background:#15c8c6;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.fileattached .file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.fileattached .file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.fileattached .file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.fileattached .file-upload .file-select.file-select-disabled{opacity:0.65;}
.fileattached .file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.fileattached .file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.fileattached .file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.approveorreject  {text-align: center;}
.approveorreject .approve{background: #13C7C5;border-radius: 4px;font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 13px;line-height: 16px;color: #FFFFFF; border:none; padding: 8px 15px; width: 100%; max-width: 130px;}
.approveorreject .reject{background: #EF6A5C;border-radius: 4px;font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 13px;line-height: 16px;color: #FFFFFF; border:none; padding: 8px 15px; width: 100%; max-width: 140px;}

.approveorreject .reject img, .approveorreject .approve img {margin-right: 12px;}
.fileattached {display: none;}

/*location page css start here*/
.locationimage img {width: 100%; height: auto;}
.maplist ul li span {color: #EF6A5C; margin-right: 6px; font-weight: bold;}
.maplist ul li .fas {color: #EF6A5C; margin-right: 12px;}
.mapbtn {margin-top:40px;}
.mapbtn button a{color: #fff;}
.locationdiv {padding: 30px;background: #fff;}
.mapicon {position: absolute; right: -40px; top:0;}
.mapinfo span {position: relative; font-family: 'Montserrat';font-style: normal;font-weight: bold;}
.mapinfo h2 {font-family: 'Montserrat';font-style: normal;font-weight: bold; font-size: 32px;}
.maplist {margin-top: 30px;}
.mapicon img {max-width: 30px;  height: 30px; width: 100%;}


/*privacy policy page css*/
.privecy-policy header::after{background-image: inherit;}
.privecy-policy .navbar-dark .navbar-nav .active > .nav-link, .privecy-policy .navbar-dark .navbar-nav .nav-link, .privecy-policy .navbar-dark navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {color: #000;}
.privecycontent {padding: 10px 0 70px;}
.privecytitle h1 {color: font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 54px;color: #424242;padding-bottom: 60px; text-transform: capitalize;text-align: center;}
.privecy-policy .navbar-brand {margin-left: 0;}
.privecycontent p{font-family: 'Montserrat';font-style: normal;font-weight: normal;font-size: 22px;line-height: 35px;color: #5E6467;padding-bottom: 15px;}
.privecycontent h2{font-family: 'Montserrat';font-style: normal;font-weight: 500;font-size: 32px;color: #424242;padding:20px 0;}
.privecycontent li{font-family: 'Montserrat';font-style: normal;font-weight:400;font-size: 18px;line-height: 35px;color: #5E6467;list-style: disc;}
.privecypoints li{list-style: none;}
.privecycontent ul {margin-left: 50px;}
.regards h3{font-family: 'Montserrat';font-style: normal;font-weight:400;font-size: 18px;line-height: 35px;color: #5E6467;}
.regards span a{font-family: 'Montserrat';font-style: normal;font-weight:400;font-size: 16px;line-height: 35px;color: #5E6467;}
.regards span a:hover {color: #f68932;}

#gallery {
  padding-top: 40px;
  @media screen and (min-width: 991px) {
    padding: 60px 30px 0 30px;
  }
}

.img-wrapper {
  position: relative;
  margin-top: 15px;
  img {
    width: 100%;
  }
}
.img-overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  i {
    color: #fff;
    font-size: 3em;
  }
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  // Removes blue highlight
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img {
    margin: 0;
    width: 80%;
    height: auto;
    object-fit: contain;
    padding: 5%;
    @media screen and (min-width:768px) {
        width: 60%;
    }
    @media screen and (min-width:1200px) {
        width: 50%;
    }
  }
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}
.gallery header::after{background-image: none;}
.gallery .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link, .navbar-dark navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color: #000;}
#gallery img {width: 100%; height: auto;}
#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

/*new-location selected page css*/
.locationimg{width: 100%;display: block;}
.locationimg img{width: 100%;height: auto;}
.selectedloc {background: #fff;margin: 25px 10px;padding: 15px; box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.08);}
.selecteddetail .maplist{margin-top: 0;}
.selectedbillpay textarea {line-height: 1.5em;height: 50px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}

/*new-form-design page*/
.textinput .form-group {margin: 0;}
.plansvalue .table td, .plansvalue .table thead th{text-align: center;}
.optiondiv {width: 100%;display: block;margin: 0;padding: 0;}
#creattable .fas{margin-right: 15px; cursor: pointer;}
#creattable .fas:hover {color: #ef6a5c;}
#ifaddyes, #ifaddyes2, #ifaddyes3 {display: none;}
.textinput {display: inline-block;}
#ifno, #ifno2, #ifno3, #ifyes, #ifyes2, #ifyes3, #ifyes5, #ifno5 {display: inline-block;cursor: pointer;color: #000;}
#ifno button:focus, #ifno2 button:focus, #ifno3 button:focus, #ifyes button:focus, #ifyes2 button:focus, #ifyes3 button:focus {background: red;color: #000;}
.plansdetailform {display: block;width: 100%;max-width: 900px;}
.plansdetailform label, .plansdetailform input{display: inline-block;height: 35px; }
.plansdetailform label{line-height: 20px;padding-top: 12px;}
.plansdetailform .custom-file-control, .plansdetailform .form-control, .plansdetailform .is-focused .custom-file-control, .plansdetailform .is-focused .form-control{background-image: none;border: 1px solid #eee;padding: 10px;}
.plansdetailform .selection{margin-right: 20px;display: inline-block;}
.selection label {display: inline-block;width:8em;background-color: #2dcdcb;border-radius: 6px;color: #ffffff;padding: 0.5em;cursor: pointer;text-align: center;text-transform: capitalize;}
.selection label:hover {background-color: #2dcdcb;}
.selection input[type=radio] {display: none;}
.selection input[type=radio]:checked ~ label {background-color: #EF6A5C;}
.plansvalue .doohmabtn.select {width: 100%;max-width: 120px;padding: 8px; cursor: auto;}
.plansvalue th {text-transform: capitalize; font-weight: 300;}
.yesorno .selection{margin-right: 0;}
.yesorno .selection label {width:4em;}
.yesorno {display: inline-block;}
.optiondiv .form-group{display: inline-block;}
tbody {background-color: #fff;}

.rad-input-div > ul{
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
}
.rad-input-div > ul li{
  margin: 4px;
}
.rad-input-div > ul li input {
  display: none !important;
}
.rad-input-div > ul li label {
  display: inline-block;
    width: 8em;
    background-color: #2dcdcb;
    border-radius: 6px;
    color: #ffffff;
    padding: 0.5em;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}

.radio_checked {
  background-color: #ef6a5b !important;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .12em; left: .19em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #ef6a5c;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

.checkbox1{position: absolute; right: 40px;}
.sidebar-page #responsive-nav + label:after, .sidebar-page #responsive-nav + label:before{display: none;}
h3.plantext{display: inline-block;line-height: 24px;font-size: 16px;}
.plantext a{color: #fff; line-height: 24px; font-size: 16px;}

.filepond--file-info .filepond--file-info-main { color: #fff;}
.filepond--file-info .filepond--file-info-sub { color: #fff;}

.thankyou {position: relative; text-align: center; background: #EF6A5C;box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.08);border-radius: 20px; width: 700px;padding: 50px;}
.thankyousymbol {margin: 0 auto; background: #FFFFFF;box-shadow: 0px 6px 8.944px rgba(0, 0, 0, 0.1);border-radius: 50%;height: 166px;width: 166px;position: relative;}
.thankyousymbol img {position: absolute;top: 40px; left: 10px;}
.thankyoutext h1{font-family: Montserrat;font-style: normal;font-weight: bold;font-size: 50px;line-height: 61px;text-align: center;letter-spacing: 0.7px;text-transform: capitalize;color: #FFFFFF;display: block !important;}
.thankyoutext span{font-family: Montserrat SemiBold;font-style: normal;font-weight: 600;font-size: 22px;line-height: 27px;text-align: center;letter-spacing: 0.7px;text-transform: capitalize;color: #FFFFFF;}
.decorateimg img.img1{}
.decorateimg .img1 {position: absolute;top: 80px;right: 220px;}
.decorateimg .img2 {position: absolute;top: 160px; left: 160px;}
.decorateimg .img3 {position: absolute;top: 20px; right: 310px;}
.decorateimg .img4 {position: absolute;top: 100px; left: 180px;}
.decorateimg .img5 {position: absolute;left: 260px; top: 220px;}
.decorateimg .img6 {position: absolute;top: 170px; left: 220px;}
.decorateimg .img7 {position: absolute;top: 40px; left: 250px;}
.decorateimg .img8 {position: absolute;top: 200px; right: 200px;}
#loading {-webkit-animation: rotation 2s infinite linear;}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
.backbtn{margin-top: 20px;}
.backbtn button.doohmabtn {background: #fff; color: #EF6A5C !important;}
.reject_reasons { display: none;}

.maincontent .form-wizard-wrapper {max-width: 100%;margin: 0 auto;overflow: hidden;position: relative;padding-top: 8px;z-index: 1;}
.maincontent .form-wizard-wrapper ul {background-color: #fff;z-index: 1;border-radius: 4px;display: flex;justify-content: center;position: relative;margin: 0;padding: 0;}
.maincontent .form-wizard-wrapper ul li {list-style-type: none;width: 100%;text-align: center;display: flex;justify-content: center; text-transform: capitalize;}
.maincontent .form-wizard-wrapper ul li a {display: block;padding: 10px;width: 100%;color: #000;text-decoration: none;}
.maincontent .form-wizard-wrapper ul li a:focus{outline: 0;}
.maincontent .form-wizard-wrapper ul li a span {position: relative;z-index: 1;}
.maincontent .form-wizard-wrapper ul li.active a {background-color: #ffffff;}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}