<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{%  static 'images/favicon.png' %}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/aos.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap-material-design.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap-material-design.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/responsive.css' %}">
<title>Doohma | Privacy Policy </title>
<style>

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap');
@font-face {
    font-family: 'montserratbold';
    src: url({%  static 'css/fonts/montserrat-bold-webfont.eot' %});
    src: url({%  static 'css/fonts/montserrat-bold-webfont.eot?#iefix' %}) format('embedded-opentype'),
         url({%  static 'css/fonts/montserrat-bold-webfont.woff2' %}) format('woff2'),
         url({%  static 'css/fonts/montserrat-bold-webfont.woff' %}) format('woff'),
         url({%  static 'css/fonts/montserrat-bold-webfont.svg#montserratbold' %}) format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'montserratextrabold';
    src: url({%  static 'css/fonts/montserrat-extrabold-webfont.eot' %});
    src: url({%  static 'css/fonts/montserrat-extrabold-webfont.eot?#iefix'  %}) format('embedded-opentype'),
         url({%  static 'css/fonts/montserrat-extrabold-webfont.woff2' %}) format('woff2'),
         url({%  static 'css/fonts/montserrat-extrabold-webfont.woff' %}) format('woff'),
         url({%  static 'css/fonts/montserrat-extrabold-webfont.svg#montserratextrabold' %}) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url({%  static 'css/fonts/montserrat-regular-webfont.eot' %});
    src: url({%  static 'css/fonts/montserrat-regular-webfont.eot?#iefix'  %}) format('embedded-opentype'),
         url({%  static 'css/fonts/montserrat-regular-webfont.woff2' %}) format('woff2'),
         url({%  static 'css/fonts/montserrat-regular-webfont.woff' %}) format('woff'),
         url({%  static 'css/fonts/montserrat-regular-webfont.svg#montserratregular' %}) format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratsemibold';
    src: url({%  static 'css/fonts/montserrat-semibold-webfont.eot' %});
    src: url({%  static 'css/fonts/montserrat-semibold-webfont.eot?#iefix' %}) format('embedded-opentype'),
         url({%  static 'css/fonts/montserrat-semibold-webfont.woff2' %}) format('woff2'),
         url({%  static 'css/fonts/montserrat-semibold-webfont.woff' %}) format('woff'),
         url({%  static 'css/fonts/montserrat-semibold-webfont.svg#montserratsemibold' %}) format('svg');
    font-weight: normal;
    font-style: normal;

}
</style>

</head>
<body class="privecy-policy">
  <header>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
      <a class="navbar-brand" onclick="topFunction()" href="{% url 'home' %}">
          <img class="mainlogo" src="{% static 'images/logo.png' %}" alt="brand-logo"/>
          <img class="fixedlogo" src="{% static 'images/logo.png' %}" alt="brand-logo" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation" onclick="myFunction()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="bjb">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-5">
            <a class="nav-link" href="{% url 'home' %}#homeaboutsection">About us
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="{% url 'home' %}#whydoohma">Why Doohma?</a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="{% url 'home' %}#howitworks">How it Works</a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="{% url 'home' %}#testimonial">Testimonial</a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="{% url 'home' %}#homefaq">FAQ</a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="{% url 'home' %}#contactus">Contact us</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--/.Navbar -->
  </header>
  <div class="privecypolicy">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="privecytitle">
            <h1>privacy policy</h1>
          </div>
          <div class="privecycontent">
            <p>Doohma offers digital out of home hyper local advertisement services. This notice states our commitment towards data protection by being transparent about the datawe collect about you, how it is used and with whom it is shared. This privacy notice aims to inform you about how we collect, use, disclose and store information about you:</p>
            <ul>
              <li>interact or use our Website, including submitting personal data and advertisement content</li>
              <li>register and/or attend any of our events</li>
              <li>if you use our applications</li>
            </ul>
            <div class="privecypoints">
              <h2>1. Why we collect your information</h2>
              <p>We collect personal data from you for following:</p>
              <ul>
                <li>1. At time of registration – When you register to create user account with us, following information is collected: e.g. (1) Name, (2) Address (including post code), (3) Contact phone number and (4) credit card information</li>
                <li>2. Your Profile – The choices selected by you to appear on your profile such as contact information, employment history, preferences, picture, news feeds etc.</li>
                <li>3. Posting and uploading information –If you sync your social media (e.g. Facebook, LinkedIn, Instagram etc.) professional profile with our Services, we will collect your connections information, contact details and group information to keep growing your network by suggesting connections for you and others.</li>
              </ul>
              <h2>2. How we use your information</h2>
              <p>Any of the information we collect from you may be used to:</p>
              <ul>
                <li>1. Suggest additional connections which are match to your profile and selected preferences</li>
                <li>2. Personalise our services</li>
                <li>3. Send promotional communications, targeting advertising (including relevant event offers)
                </li>
                <li>4. Improve and develop our products and services</li>
              </ul>
              <h2>3. Accuracy of Information</h2>
              <p>The personal information shared on Doohma’s application shall be kept up-to-dated by contacting you. If there are any changes in personal circumstances, you should update your profile or contact us directly (refer to below section 11.0)</p>
              <h2>4. Distribution of Information</h2>
              <p>We do not send personal information with 3rd parties for their sole promotional purposes or as otherwise outlined in this Privacy Notice.</p>
              <p>To support business activities may require transfer of personal information collected through our website and application to other 3rd parties that are located outside Doohma’s country of business. To transfer data following permissible data transfer mechanisms will be applied:</p>
              <ul>
                  <li>1. Data Transfer Agreement with 3rd party</p>
                  <li>2. Notice to and/or approval from a country’s local data protection authority</p>
              </ul>
              <h2>5. Your Privacy Rights</h2>
              <p>For personal information provided to us, you have control of this information, which includes theright to access, modify, erase, restrict, transmit or object to certain uses of personal information. You can control your personal data that Doohma has obtained, and exercise your data protection rights, by contacting Doohma Support (contact@Doohma.com)</p>
              <h2>6. Consent</h2>
              <p>Agreeing to this privacy notice, will be treated as consent to process your personal information for above defined purposes (refer to above section 1). Your consent to personal data collection and processing may be revoked by notifying us by raising your request to Doohma’s DPO (refer to below section 10)</p>
              <p>For users below the age of 16, the consent should be provided by the holder of parental responsibility of the child.</p>
              <h2>7.Website Tracking</h2>
              <p>We use cookies or similar technologies to identify your browser or device. Mostly, first party cookies are used to store information on your device to remember information about you, such as login information.</p>
              <p>Cookie information will also be used in our advertising and marketing efforts, as well as to understand your browsing of the Website (for example, which page you visit or how long you stay on each page).</p>
              <h2>8. Data Security</h2>
              <p>Doohma has implemented reasonable technical and organizational measures to safeguard personal information and instruct 3rd parties processing personal information on behalf Doohma to ensure consistent and sufficient controls are applied to protect personal information.</p>
              <h2>9. Retention and Disposal</h2>
              <p>We will retain personal information collected through our website and application asper the defined in Doohma’s retention schedule, which is in alignment with local laws and regulations.</p>
              <h2>10. Contact Data Protection Officer (DPO)</h2>
              <p>If you have any questions about data privacy or you want to raise a Subject Access Request (SAR), contact following:</p>
            </div>
            <div class="regards">
              <h3>Balu Pillai</h3>
                <span><a href="mailto:Balu.pillai@doohma.com" target="_blank">Balu.pillai@doohma.com</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--Main Navigation-->
<footer>
  <div class="footcontact">
      <div class="container">
        <span>Connect with us</span>
        <div class="row">
          <div class="col-md-12">
            <div class="footsocial">
              <ul>
                <li><a href="https://www.facebook.com/Doohmauk/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://www.instagram.com/doohma/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
            <div class="footlogo">
              <a href="#" onclick="topFunction()" id="myBtn">Doohma</a>
            </div>
          </div>
        </div>
        <div class="footmail">
          <a href="mailto:contact@Doohma.com">contact@Doohma.com</a>
        </div>
        <div class="footnav">
          <div class="copyright">
              <a class="copyright" href="#">Copyright 2020. Doohma</a>
          </div>
        </div>
    </div>
  </div>
</footer>
</body>
</html>