{% extends 'panel_base.html' %}
{% block body-css %} budget-page {% endblock %}
{% block maincontent %}
  {% load static %}
   <div class="maincontent clearfix">
        <div class="form-wizard-wrapper">
          <ul>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="info"><span>1. create ad</span></a></li>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="ads"><span>2. select screen location</span></a></li>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="placement"><span>3. select subscription plan</span></a></li>
            <li><a class="form-wizard-link active" href="javascript:;" data-attr="schedule"><span>4. billing detail</span></a></li>
          </ul>
        </div>
        <div class="billform">
          <form class="billformdetail">
            <div class="row">
              <div class="col-md-8 selectbillinform">
                <div class="selectedbillpay">
                  <div class="row">
                    <div class="col-md-12">
                      <p>Summary</p>
                      <div class="md-form mb-3">
                        <label data-error="wrong" data-success="right" for="title">Title</label>
                        <input value="{{ advert.ad_title }}" type="text" id="title" class="form-control" placeholder="Lorem ipsum" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <form class="dateinfo">
                    <div class="col-md-6 mb-4">
                      <label data-error="wrong" data-success="right" for="start-date">Start Date</label>
                      <input type="text" id="start-date" value="{%  if advert.start_date  %}{{ advert.start_date|date:"d-M-Y" }} {% else  %}{% now "d-M-Y" %}{% endif %}" class="form-control" disabled="">
                    </div>
                    <div class="col-md-6 mb-4">
                      <label data-error="wrong" data-success="right" for="end-date">Expire Date</label>
                      <input type="text" value="{{ end_date|date:"d-M-Y" }}" id="end-date" class="form-control" disabled="">
                    </div>
                </form>
                  </div>
                </div>
              </div>
              <div class="col-md-4 selectcompleteform">
                <div class="selectedloc">
                  <div class="locationimgslider">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="false"  data-pause="hover" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/nisa-local-at-virginia-quays.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'images/nisa-local-at-virginia-quays.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'images/nisa-local-at-virginia-quays.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="selecteddetail">
                    <h2 class="locname">{{ location.name }}</h2>
                    <span>{{ location.address }}</span>
                    <div class="maplist">
                      <ul>
                        <li><i class="fas fa-check"></i><span>Footfall:</span>
                        {{ location.footfall }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="billform">
          <div class="billformdetail">
            <div class="row">
              <div class="col-md-8 billinform">
                <div class="billpay">
                  <div class="row">
                    <div class="col-md-12">
                      <h1>Order summary</h1>
                      <div class="md-form mb-3">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="md-form mb-3">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form mb-3">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 completeform">
                <div class="selectdetail">
                  <div class="col-25">
                    <p class="container">
                    <form method="post">
                      <p><a href="#">Subscription Plan: {{ sub_plan.title }}</a> <span class="price">£ {{ sub_plan.cost }}</span></p>
                      <p><a href="#">No. of Screen</a> <span class="price">{{ sub_plan.screens }}</span></p>
                      <p><a href="#">Auto Renew</a><span class="checkbox1"><input type="checkbox" id="test1" checked/><label for="test1"></label></span></p>
                      <hr>
                      <p>Total Billed <span class="price" style="color:black"><b>£{{ sub_plan.cost }}</b></span></p>
                      <p>
                        <span>
                            <input type="checkbox" id="terms1" data-toggle="popover"
                               data-content="Please agree to the terms and conditions and read the disclaimers to proceed."/>
                            <label for="terms1">
                            <a href="{% url 'policy' %}"
                               target="_blank">I have read and agreed to <b><span style="color: #12c7c5">privacy policy and terms</span></b> of use</a></label>
                        </span>
                      </p>
                      <div class="paymentbtn">
                      {% csrf_token %}
                      <script src="https://checkout.stripe.com/checkout.js" class="doohmabtn stripe-button"
                          data-key="{{ key }}"
                          data-currency="gbp",
                          data-description="Payment for {{ advert.ad_title }}"
                          data-amount="{% widthratio sub_plan.cost 1 100 %}"
                          data-locale="auto">
                      </script>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block extrajs %}
     <script>
     $(document).ready(function () {
        $('.stripe-button-el').prop('disabled', true);
        $('#terms1').click(function () {
              if ( ! $(this).is(":checked")){
                  $('.stripe-button-el').prop('disabled', true);
              } else{
                  $('.stripe-button-el').prop('disabled', false);
              }
          })
     })

      </script>
{% endblock %}