{% extends 'panel_base.html' %}
{% block body-css %} tablepage {% endblock %}
{% block maincontent %}
    {% load static %}
    <div class="maincontent">
    {% with url_name=request.resolver_match.url_name %}
        {% if url_name == 'plan-create' %}
            <h1>Create New Plan</h1>
        {% else %}
            <h1>Edit Plan {{ form.title.value }}</h1>
        {% endif %}
    {% endwith %}
        <div class="plansdetailform">
            <form method="post" action="" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <!-- form card register -->
                <div class="card card-outline-secondary">
                    <div class="card-body">
                        <div class="form">
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label>Name of Plan</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"
                                           name="title"
                                           placeholder="Name of Plan"
                                           type="text"
                                            {% if form.title.value %}
                                                value="{{ form.title.value }}
                                            {% endif %}"/>
                                    <span>{{ form.title.errors }}</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label>Price per Month</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"
                                            {% if form.cost.value %}
                                                value="{{ form.cost.value }}"
                                            {% endif %}
                                           name="cost"
                                           placeholder="Price per Month"
                                           required=""
                                           type="number"/>
                                    <span>{{ form.cost.errors }}</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label>Broadcast Allowance</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"
                                           name="broadcast_allowance"
                                            {% if form.broadcast_allowance.value %}
                                           value="{{ form.broadcast_allowance.value }}"
                                            {% endif %}
                                           placeholder="Broadcast Allowance"
                                           type="text"/>
                                    <span>{{ form.broadcast_allowance.errors }}</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label>No of Ad Design changes</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"
                                           name="changes_allowed"
                                            {% if form.changes_allowed.value %}
                                            value="{{ form.changes_allowed.value }}"
                                            {% endif %}
                                           placeholder="changes_allowed"
                                           type="text"/>
                                    <span>{{ form.changes_allowed.errors }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label>No of Screens</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control"
                                        {% if form.screens.value %}
                                       value="{{ form.screens.value }}"
                                        {% endif %}
                                       name="screens"
                                       placeholder="No of Screens"
                                       type="number" />
                                <span>{{ form.screens.errors }}</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label>Video Quality</label>
                            </div>
                            <div class="col-md-8 rad-input-div">
                                 {{ form.video_quality }}
                            <span>{{ form.video_quality.errors }}</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label> Allow Static Ad Design</label>
                            </div>
                            <div class="col-md-8">
                                <div class="yesorno rad-input-div">
                                    {{ form.allow_static_ad_design }}
                                <span>{{ form.allow_static_ad_design.errors }}</span>
                                </div>
                                <div class="textinput">
                                    <div class="form-group" id="id_allow_static_ad_design">
                                        <input class="form-control"
                                               name="allow_static_ad_design_count"
                                               placeholder="how much time"
                                               {% if form.allow_static_ad_design.value %}
                                                value="{{ form.allow_static_ad_design_count.value}}"
                                               {% endif %}
                                               type="number">
                                        <span>{{ form.allow_static_ad_design_count.errors }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="inputVerify3"> Allow Video Ad Design</label>
                            </div>
                            <div class="col-md-8">
                                <div class="yesorno rad-input-div">
                                    {{ form.allow_video_ad_design }}
                                <span>{{ form.allow_video_ad_design.errors }}</span>
                                </div>
                                <div class="textinput">
                                    <div class="form-group" id="id_allow_video_ad_design">
                                        <input class="form-control"
                                           name="allow_video_ad_design_count"
                                           placeholder="how much time"
                                            {% if form.allow_video_ad_design.value %}
                                            value="{{ form.allow_video_ad_design_count.value}}"
                                           {% endif %}
                                           required=""
                                           type="number"/>
                                    <span>{{ form.allow_video_ad_design_count.errors }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="inputVerify3">Android App Access</label>
                            </div>
                            <div class="col-md-8">
                                <div class="yesorno rad-input-div">
                                    {{ form.is_app_allowed }}
                                <span>{{ form.is_app_allowed.errors }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" style="text-align: center;">
                                {% with url_name=request.resolver_match.url_name %}
                                <input class="doohmabtn"
                                       style="height: unset !important;"
                                       type="submit"
                                       value="{% if url_name == 'plan-edit' %} Update {% else %} Create {% endif %}"/>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script>
          $(document).ready(function () {
              var static_ad_design_yes  = $("#id_allow_static_ad_design_0");
              var video_ad_design_yes = $("#id_allow_video_ad_design_0");
              var input_static_ad_design_count =  $("input[name='allow_static_ad_design_count']");
              var input_video_ad_design_count = $("input[name='allow_video_ad_design_count']");
              input_static_ad_design_count.hide();
              input_video_ad_design_count.hide();

              if(static_ad_design_yes.is(':checked')){
                  input_static_ad_design_count.show()
              };
              if(video_ad_design_yes.is(':checked')){
                  input_video_ad_design_count.show()
              };

              $("input[name='video_quality']:checked").parent().addClass('radio_checked');
              $("input[name='allow_static_ad_design']:checked").parent().addClass('radio_checked');
              $("input[name='allow_video_ad_design']:checked").parent().addClass('radio_checked');
              $("input[name='is_app_allowed']:checked").parent().addClass('radio_checked');

              $("input[name='video_quality']").click(function () {
                $("input[name='video_quality']").parents().removeClass('radio_checked');
                $(this).parent().addClass('radio_checked');
              });
               $("input[name='allow_static_ad_design']").click(function () {
                   debugger;
                   if ($(this).val() === '1'){
                        input_static_ad_design_count.show()
                   } else {
                       input_static_ad_design_count.hide()
                   }
                $("input[name='allow_static_ad_design']").parents().removeClass('radio_checked');
                $(this).parent().addClass('radio_checked');
              });
               $("input[name='allow_video_ad_design']").click(function () {
                   if ($(this).val() === '1'){
                        input_video_ad_design_count.show()
                   } else {
                       input_video_ad_design_count.hide()
                   }
                $("input[name='allow_video_ad_design']").parents().removeClass('radio_checked');
                $(this).parent().addClass('radio_checked');
              });
               $("input[name='is_app_allowed']").click(function () {
                $("input[name='is_app_allowed']").parents().removeClass('radio_checked');
                $(this).parent().addClass('radio_checked');
              });
          })
        </script>
{% endblock %}