{% extends 'panel_base.html' %}
{% block body-css %} location-page {% endblock %}
{% block maincontent %}
  {% load static %}
     <div class="maincontent">
        <div class="form-wizard-wrapper">
          <ul>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="info"><span>1. create ad</span></a></li>
            <li><a class="form-wizard-link active" href="javascript:;" data-attr="ads"><span>2. select screen location</span></a></li>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="placement"><span>3. select subscription plan</span></a></li>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="schedule"><span>4. billing detail</span></a></li>
          </ul>
        </div>
         {% for loc in locs %}
            <div class="locationdiv">
              <div class="row">
                <div class="col-md-4">
                  <div class="locationimage">
                    <img src="{% static 'images/nisa-local-at-virginia-quays.jpg' %}" alt="location-image">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="mapinfo">
                    <h2>{{loc.name}}</h2>
                    <span>{{ loc.address }}<a class="mapicon" href="{{loc.google_link}}" target="_blank">
                        <img src="https://developers.google.com/maps/images/maps-icon.svg" alt="Location"></a></span>
                  </div>
                  <div class="maplist">
                    <ul>
                      <li><i class="fas fa-check"></i><span>Footfall:</span> {{loc.footfall}}</li>
                    </ul>
                  </div>
                  <div class="mapbtn">
                        <a href="https://www.streetcheck.co.uk/postcode/e142ed" target="_blank">
                            <button class="doohmabtn">Demographics</button>
                        </a>
                        <a  href="{% url 'sub-plans' pk=request.session.ad_to_pay %}?loc_id={{loc.id}}" class="doohmabtn select">
                        <button class="doohmabtn">Select</button></a>
                  </div>
                </div>
              </div>
        </div>
         {% endfor %}
{#         <div class="tablepagination">#}
{#            <nav aria-label="Page navigation example">#}
{#              <ul class="pagination pg-blue">#}
{#                {% if locs.has_previous %}#}
{#                    <li class="page-item ">#}
{#                        <a class="page-link left-arrow" href="?page={{ locs.previous_page_number }}" tabindex="-1">#}
{#                        <img src="{% static 'images/left-pagination.png' %}" alt="Left"></a>#}
{#                    </li>#}
{#                    <li class="page-item">#}
{#                        <a class="page-link" href="?page={{ locs.number|add:'-1'}}">{{ locs.number|add:'-1'}}</a>#}
{#                    </li>#}
{#                {% endif %}#}
{#                  <li class="page-item active">#}
{#                  <a class="page-link">{{locs.number}}<span class="sr-only">(current)</span></a>#}
{#                </li>#}
{#                {% if ads.has_next %}#}
{#                    <li class="page-item">#}
{#                        <a class="page-link" href="?page={{ locs.number|add:'1'}}">{{ locs.number|add:'1'}}</a>#}
{#                    </li>#}
{#                    <li class="page-item ">#}
{#                        <a class="page-link right-arrow" href="?page={{ locs.next_page_number }}">#}
{#                        <img src="{% static 'images/right-pagination.png' %}" alt="Left"></a>#}
{#                    </li>#}
{#                {% endif %}#}
{#              </ul>#}
{#            </nav>#}
{#          </div>#}
      </div>
{% endblock %}