{% extends 'panel_base.html' %}
{% block body-css %} admin-registerd {% endblock %}
{% block maincontent %}
{% load static %}
    <div class="maincontent">
        <h1>Manage Plans</h1>
        <div class="creatbtnhead">
          <a class="creatad" href="{% url 'plan-create' %}">
              <img src="{%  static  'images/plus-whight.png' %}" alt="add">Create Plan</a>
        </div>
        <div id="creattable">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sr#</th>
                  <th scope="col">Plan Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for plan in plans %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{ plan.title }}</td>
                    <td>£ {{ plan.cost }}<sup>*</sup></td>
                    <td>
                        <a href="{% url 'plan-edit' pk=plan.id %}" ><i class="fas fa-pencil-alt"></i></a>
                        <a href="{% url 'plan-delete' pk=plan.id %}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
{% endblock %}