{% extends 'panel_base.html' %}
{% block body-css %} budget-page {% endblock %}
{% block maincontent %}
  {% load static %}
     <div class="maincontent">
        <div class="form-wizard-wrapper">
          <ul>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="info"><span>1. create ad</span></a></li>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="ads"><span>2. select screen location</span></a></li>
            <li><a class="form-wizard-link active" href="javascript:;" data-attr="placement"><span>3. select subscription plan</span></a></li>
            <li><a class="form-wizard-link" href="javascript:;" data-attr="schedule"><span>4. billing detail</span></a></li>
          </ul>
        </div>
        <div class="plansvalue">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                    {% for plan in plans %}
                      <th scope="col"><button class="doohmabtn select">{{plan.title}}</button></th>
                    {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">price/month</th>
                  {% for plan in plans %}
                     <td>£ {{ plan.cost }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th scope="row">broadcast allowance</th>
                 {% for plan in plans %}
                     <td>
                     {% if plan.broadcast_allowance %}
                         {{ plan.broadcast_allowance }} Hours
                     {% else %}
                             <i class="fa fa-times"></i>
                     {% endif %}
                     </td>
                  {% endfor %}
                </tr>
                <tr>
                  <th scope="row">No of Ad Design changes</th>
                  {% for plan in plans %}
                     <td>{{ plan.changes_allowed }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th scope="row">screens you can broadcast at the same time</th>
                 {% for plan in plans %}
                     <td>{{ plan.screens }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th scope="row">video quality</th>
                  {% for plan in plans %}
                     <td>{{ plan.get_video_quality_display }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th scope="row">free advertisement design(static)</th>
                  {% for plan in plans %}
                     <td>{{ plan.allow_static_ad_design_count }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th scope="row">free video ad design(30 sec to 60 sec)</th>
                  {% for plan in plans %}
                     <td>
                     {% if plan.allow_video_ad_design_count %}
                         {{ plan.allow_video_ad_design_count }}
                     {% else %}
                        <i class="fa fa-times"></i>
                     {% endif %}
                     </td>
                  {% endfor %}
                </tr>
                <tr>
                  <th scope="row">dashboard & proof of play(android app)</th>
                    {% for plan in plans %}
                     <td>
                         {% if plan.is_app_allowed %}
                            <i class="fa fa-check" aria-hidden="true"></i>
                         {% else %}
                             <i class="fa fa-times"></i>
                         {% endif %}
                     </td>
                  {% endfor %}
                </tr>
                <tr>
                  <th scope="row"></th>
                 {% for plan in plans %}
                   <td><div class="selection"><a href="{% url 'confrim_pay'  package_id=plan.id %}"><label for="basic">select</label></div></td>
                  {% endfor %}
                 </tr>
                <tr>
                  <th>we also do customized plan based on your customer needs. for additional information get in touch with us.</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
{% endblock %}