{% extends 'panel_base.html' %}
{% block body-css %} tablepage {% endblock %}
{% block maincontent %}
    {% load static %}
    <div class="maincontent">
        <div class="flexbox-container">
          <div class="flexbox-item">
            <div class="thankyou">
              <div class="decorateimg">
                <img id="loading" class="img1" src="{% static 'images/star1.png' %}">
                <img id="loading" class="img2" src="{% static 'images/star2.png' %}">
                <img id="loading" class="img3" src="{% static 'images/star3.png' %}">
                <img id="loading" class="img4" src="{% static 'images/round.png' %}">
                <img id="loading" class="img5" src="{% static 'images/round2.png' %}">
                <img id="loading" class="img6" src="{% static 'images/rectangle-2.png' %}">
                <img id="loading" class="img7" src="{% static 'images/rectangle.png' %}">
                <img id="loading" class="img8" src="{% static 'images/round3.png' %}">
              </div>
              <div class="thankyousymbol">
                <img src="{% static 'images/thank-you-right.png' %}">
              </div>
              <div class="thankyoutext">
                <h1>Thank You!</h1>
                <span>Your payment has been done</span>
              </div>
              <div class="backbtn">
                <a href="{% url 'adverts_list' %}">
                  <button class="doohmabtn">back to home</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}