{% extends 'panel_base.html' %}
{% block body-css %} admin-registerd {% endblock %}
{% block maincontent %}
{% load static %}
<div class="maincontent clearfix">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <h1><a href="#">AD DETAILS</a></h1>
    <div class="galleryanddetail">
      <div class="infodetail">
        <div class="row">
          <div class="col-md-7">
            <div class="md-form mb-4">
                  <label data-error="wrong" data-success="right" for="ad_title">Ad Title</label>
              <input type="text" id="ad_title" class="form-control" value="{{ advert.ad_title }}" disabled>
            </div>
            <div class="md-form mb-4">
              <label data-error="wrong" data-success="right" for="ad_description">Ad Description</label>
              <textarea class="form-control rounded-0" id="ad_description" rows="10"  disabled>{{ advert.ad_description }}
              </textarea>
            </div>
              {% if subscription %}
                <form class="dateinfo">
                  <div class="row">
                    <div class="col-md-4 mb-4">
                      <label data-error="wrong" data-success="right" for="start_date">Start Date</label>
                      <input type="text" id="start_date" class="form-control" value="{{ advert.start_date|date:"M d, Y" }}" disabled>
                    </div>
                    <div class="col-md-4 mb-4">
                      <label data-error="wrong" data-success="right" for="end_date">Expiry Date</label>
                      <input type="text" id="end_date" class="form-control" value="{{ advert.end_date|date:"M d, Y" }}" disabled>
                    </div>
                    <div class="col-md-4 mb-4">
                      <label data-error="wrong" data-success="right" for="plan_cost">Paid Amont</label>
                      <input type="text" id="plan_cost" class="form-control" value="£{{ subscription.plan_details.cost }}" disabled>
                    </div>
                  </div>
                </form>
              {% else %}
              <p>Not yet subscribed</p>
              {% endif %}
          </div>
          <div class="col-md-5">
            <!--Carousel Wrapper-->
              <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel" data-interval="false"  data-pause="hover">

                <!--Controls-->
                <div class="controls-top">
                  <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
                  <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
                </div>
                <!--/.Controls-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <!--First slide-->
                 {% for image in medias %}
                    {% if image.type == 1 %}
                      <div class="carousel-item {% if forloop.first %} active {% endif %}">
                          <div class="col-md-3 mb-3 imgitem">
                            <div class="card">
                                <img class="img-fluid" src="{{ image.image.url }}"
                              alt="Card image cap">
                            </div>
                         </div>
                      {% else %}
                          <div class="carousel-item {% if forloop.first %} active {% endif %}">
                          <div class="col-md-3 mb-3 imgitem">
                            <div class="card">
                                <video width="278" height="200" style="width: 100%;" controls>
                                    <source src="{{ image.image.url }}" type="video/mp4">
                                    <source src="{{ image.image.url }}" type="video/avi">
                                    <source src="{{ image.image.url }}" type="video/ogg">
                                    <source src="{{ image.image.url }}" type="application/octet-stream">
                                </video>
                            </div>
                         </div>
                      {% endif %}
                    {% if advert.is_paid %}
                    <div class="col-md-3 mb-3 imgitem">
                        {% if image.is_approved %}
                            <!-- pass the block -->
                             <div class="approveorreject text-center">
                                <button class="doohmabtn status-button approved">Approved</button>
                            </div>
                        {% elif image.is_rejected %}
                            <div class="approveorreject text-center">
                                <button class="doohmabtn status-button approved">Rejected</button>
                                <span>Reason: </span><p>{{ image.get_reject_reason_display }}</p>
                            </div>
                        {% else %}
                          <div class="approveorreject">
                            <button data-id="{{ image.id }}" data-state="1" class="status-button approve"><img src="{% static 'images/approve-sign.png' %}" alt="">Approve</button>
                            <button data-id="{{ image.id }}" data-state="0" class="status-button reject"><img src="{% static  'images/reject-sign.png' %}" alt="">Reject</button>
                          </div>
                          <div class="reject_reasons" id="reasons_{{ image.id }}">
                            <label for="reason_{{ image.id }}">Select A reason</label>
                                <select id="reason_{{ image.id }}" data-id="{{ image.id }}">
                                    <option value=""> --- </option>
                                  {% for choices in reject_options %}
                                    <option value="{{ choices.0 }}">{{ choices.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        </div>
                  {% endif %}
                  </div>
                 {% endfor %}
                  <!--/.First slide-->
                </div>
                <!--/.Slides-->
              </div>
              <!--/.Carousel Wrapper-->
          </div>
        </div>
         <div class="row">
         {% if advert.video_url and advert.status == 2 %}
             <video width="320" height="240" controls>
              <source src="{{ advert.video_url }}" type="video/mp4">
              <source src="{{ advert.video_url }}" type="video/ogg">
              Your browser does not support the video tag.
            </video>
         {% else %}
            {% if all_reviews_and_sapproved %}
            <div class="file-upload-popup text-left">
                <form method="post" class="form-inline" action="{% url 'upload-video' pk=advert.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="video_{{advert.id}}" class="sr-only">Video</label>
                             <input type="file" name="video" accept="video/mp4,video/x-m4v,video/*" id="video_{{advert.id}}" required>
                          </div>
                        <input type="submit" class="btn btn-primary mb-2" value="Upload Video" />
                </form>
            </div>
            {% endif %}
         {% endif %}
        </div>
      </div>
    </div>
</div>
{% endblock  %}
{% block footer %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-material-design.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-material-design.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/genrel.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-toggle.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script>
        AOS.init();
      </script>
        <script>
            $(function() {
                $('.popup-youtube, .popup-vimeo').magnificPopup({
                    disableOn: 700,
                    type: 'iframe',
                    mainClass: 'mfp-fade',
                    removalDelay: 160,
                    preloader: false,
                    fixedContentPos: false
                });
            });
            $('.carousel-multi-item').carousel({
                interval: false,
                autoplay:false,
                wrap: false
              });
            $(".approveorreject.approve").on( "click", function() {
                $(".approveorreject").hide();
              });
        </script>
        <script>
        $(document).ready(function(){
            $(".status-button.approve").on("click", function () {
                var pk = $(this).attr("data-id");
                $.ajaxSetup({
                    headers:
                    { 'X-CSRFToken': "{{ csrf_token }}"}
                });
                $.ajax({
                    url: `/ad/media/${pk}/approve`,
                    type: 'POST',
                    data: {"is_approved": true},
                    success: function (response) {
                        $(".status-button").hide();
                        location.reload();
                    },
                    error: function (error){
                      console.log(error)
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });

            $(".status-button.reject").on("click", function () {
                var pk = $(this).attr("data-id");
                var reason_div_id = `#reasons_${pk}`;
                $(reason_div_id).show();
            });

            //fire the event on the
            $("select[id^='reason_']").on('change', function () {
                debugger;
                var reject_val = $(this).val();
                var pk = $(this).attr('data-id');
                $.ajaxSetup({
                    headers:
                    { 'X-CSRFToken': "{{ csrf_token }}"}
                });
                $.ajax({
                    url: `/ad/media/${pk}/reject/`,
                    type: 'POST',
                    content: 'json',
                    data: JSON.stringify({
                      'reject_id': reject_val
                    }),
                    headers: {
                    'X-CSRFToken': "{{ csrf_token }}"
                    },
                    success: function (response) {
                        $(".status-button").hide();
                        $(`#fileattached_${pk}`).hide();
                        location.reload();
                    },
                    error: function (error){
                      console.log(error)
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                    });
                });
            $('input[type="file"]').change(function () {
                var pk = $(this).attr('data-id');
                $(`#form_${pk}`).submit();
                }
            );
            $("form").submit(function(e){
                e.preventDefault();
                $form = $(this);
                var formData = new FormData(this);
                var status = $(this).attr('data-state');
                var pk = $(this).attr('data-id');
                formData.append('is_approved', status);
                formData.append('type', 2);
                $(`#fileattached_${pk}`).append("<div class='loader'>Loading...</div>");
                $.ajax({
                    url: "{% url 'upload-video' pk=advert.id %}",
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        $(".status-button").hide();
                        $(`#fileattached_${pk}`).hide();
                        location.reload();
                    },
                    error: function (error){
                      console.log(error)
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });
    </script>
    <script>
      $('.carousel-inner').each(function() {

          if ($(this).children('div').length === 1) $(this).siblings('.controls-top').hide();

      });
    </script>
    <script type="text/javascript">
         $('.carousel-multi-item').on('slid', '', function() {
            var $this = $(this);

            $this.children('.controls-top').show();

            if($('.carousel-inner .item:first').hasClass('active')) {
              $this.children('.controls-top:first').hide();
            } else if($('.carousel-inner .item:last').hasClass('active')) {
              $this.children('.controls-top:last').hide();
            }

          });
       </script>
{% endblock %}