{% extends 'panel_base.html' %}
{% block body-css %} admin-registerd {% endblock %}
{% block maincontent %}
{% load static %}
<div class="maincontent clearfix">
    <div class="datatable">
      <div class="table-responsive">
        <table class="table">
         <thead>
                <tr>
                  <th scope="col">Sr#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Ad Title</th>
                  <th scope="col">Subscription Amount</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Expire Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
          <tbody>
            {% for ad in ad_list %}
            <tr>
              <th scope="row">{{ forloop.counter0|add:ads.start_index }}</th>
              <td>{{ ad.name}}</td>
              <td>{{ ad.ad_title }}</td>
              <td>{{ ad.amount }}</td>
              <td>{% if not ad.start_date %} N/A {% else %} {{ ad.start_date|date:"d-M-Y" }} {% endif %}</td>
              <td>{% if not ad.end_date %} N/A {% else %} {{ad.end_date|date:"d-M-Y" }}  {% endif %}</td>
              <td class='{% if ad.status == "Approved" %} approved {% elif ad.status == "Requested" %} pending {% elif ad.status == 'Rejected' %} rejected {% endif %}'>{{ad.status}}</td>
              <td><a href="{% url 'campaign-details' pk=ad.ad_id %}" class="viewbtn"><i class="fa fa-eye"></i> </a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tablepagination">
        <nav aria-label="Page navigation example">
          <ul class="pagination pg-blue">
            {% if ads.has_previous %}
                <li class="page-item ">
                    <a class="page-link left-arrow" href="?page={{ ads.previous_page_number }}" tabindex="-1">
                    <img src="{% static 'images/left-pagination.png' %}" alt="Left"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ ads.number|add:'-1'}}">{{ ads.number|add:'-1'}}</a>
                </li>
            {% endif %}
              <li class="page-item active">
              <a class="page-link">{{ads.number}}<span class="sr-only">(current)</span></a>
            </li>
            {% if ads.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ ads.number|add:'1'}}">{{ ads.number|add:'1'}}</a>
                </li>
                <li class="page-item ">
                    <a class="page-link right-arrow" href="?page={{ ads.next_page_number }}">
                    <img src="{% static 'images/right-pagination.png' %}" alt="Left"></a>
                </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
</div>
{% endblock %}