{% extends 'panel_base.html' %}

{% block body-css %} admin-registerd {% endblock %}
{% block maincontent %}
{% load static %}
<div class="maincontent clearfix">
    <div class="datatable">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Sr#</th>
              <th scope="col" style="min-width: 120px;">First Name</th>
              <th scope="col" style="min-width: 120px;">Last Name</th>
              <th scope="col" style="min-width: 120px;">Email</th>
              <th scope="col" style="min-width: 120px;">Profession</th>
              <th scope="col" style="min-width: 160px;">Mobile No.</th>
              <th scope="col" style="min-width: 160px;">Website</th>
              <th scope="col" style="min-width: 160px;">Facebook</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.profile.profession.title }}</td>
              <td>{{user.profile.mobile}}</td>
              <td>{{user.profile.website}}</td>
              <td>{{user.profile.facebook_url}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tablepagination">
        <nav aria-label="Page navigation example">
          <ul class="pagination pg-blue">
            {% if users.has_previous %}
                <li class="page-item ">
                    <a class="page-link left-arrow" href="?page={{ users.previous_page_number }}" tabindex="-1">
                    <img src="{% static 'images/left-pagination.png' %}" alt="Left"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.number|add:'-1'}}">{{ users.number|add:'-1'}}</a>
                </li>
            {% endif %}
              <li class="page-item active">
              <a class="page-link">{{users.number}}<span class="sr-only">(current)</span></a>
            </li>
            {% if users.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.number|add:'1'}}">{{ users.number|add:'1'}}</a>
                </li>
                <li class="page-item ">
                    <a class="page-link right-arrow" href="?page={{ users.next_page_number }}">
                    <img src="{% static 'images/right-pagination.png' %}" alt="Left"></a>
                </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
</div>
{% endblock %}